<%#
  Card component
  - A content reference with headline, excerpt, action, and optional image

  Locals:
  - STRING link: url the card links to
  - STRING figure (optional): path or url of image to include
  - STRING figure_pos (optional): on wider screens, does the image appear on the left or right side? (default is right)
  - STRING figure_size (optional): large or regular figure
  - STRING multicolumn (optional): should the figure and text be side-by-side?
  - STRING classes (optional): additional modifier classes, e.g. .margin

  Styles:
  - components/card.scss
%>

<%
  link ||= false
  figure ||= false
  figure_pos ||= "left"
  figure_size ||= "default"
  alt ||= false
  multicolumn ||= false
  classes ||= false

  tag = link ? "a" : "figure"
%>


<div data-ui-card="<%= "multicolumn" if multicolumn %>" class="gutter-wrapper<%= " #{classes}" if classes %>">
  <% if figure %>
    <<%= tag %> data-ui-card-figure="<%= "right" if figure_pos == "right" %><%= " large" if figure_size == "large" %>" class="gutter t-link-undecorated t-centered"<%= " href='#{link}'" if link %>>
      <%# image_tag figure, alt: alt || "Figure" %>
      <span<%= " style='display: inline-block; max-width: #{figure_size};'" if figure_size.include?("px") %>><img src="<%= figure %>" alt="<%= alt || "Figure" %>"></span>
    </<%= tag %>>
  <% end %>
  <div data-ui-card-content class="gutter">
    <%= yield %>
  </div>
</div>
