<%#
  Card component
  - A content reference with headline, excerpt, action, and optional image

  Locals:
  - STRING link: url the card links to
  - STRING figure (optional): path or url of image to include
  - STRING figure_pos (optional): on wider screens, does the image appear on the left or right side? (default is right)
  - STRING figure_size
  - STRING action (optional): the action for the button, e.g. "Read more"
  - STRING classes (optional): additional modifier classes, e.g. .l-margin

  Styles:
  - components/card.scss
%>

<%
  link ||= false
  figure ||= false
  figure_pos ||= "right"
  figure_size ||= "default"
  alt ||= false
  classes ||= false

  tag = link ? "a" : "figure"
%>


<div class="card<%= " card--has-figure" if figure %><%= " #{classes}" if classes %>">
  <% if figure %>
    <<%= tag %> class="card-figure<%= ' #{card-figure--left}' if figure_pos == "left" %><%= ' #{card-figure--large}' if figure_size == "large" %>" <%= "href='#{link}'" if link %>>
      <%= image_tag figure, :alt => alt || "Figure" %>
    </<%= tag %>>
  <% end %>
  <div class="card-content">
    <%= yield %>
  </div>
</div>
