<%#
  Gallery component
  -> a grid of images

  Locals:
  HASH images: the images to display
    -> structure: { source => alt }
  NUMBER columns (optional): number of columns to display at the largest width (> 600px)
  BOOLEAN outcrop (optional): should it 'outcrop' from its container?
  ARRAY margins (optional): margins to add to various sides

  Styles:
  components/gallery
%>

<%
  size ||= 'default'
  outcrop ||= true
  margins ||= ["top", "bottom"]

  # make a list of border classes from the borders array
  margin_list = ""

  if margins != "none"
    margins.each do |side|
      margin_list << " l-margin-#{side}-wide"
    end
  end
%>

<div class="<%= "l-wrapper-outcrop" if outcrop %><%= margin_list %>">
  <ul class="l-gallery<%= " l-gallery--#{size}" if size != 'default' %>">
    <% images.each do |image, alt| %>
      <li class="l-gallery-item"><img src="<%= image %>" alt="<%= alt %>"></li>
    <% end %>
  </ul>
</div>
