<%#
  Main Footer component
  - lives at the bottom of each page

  Locals:
  BOOLEAN show_bio (optional): show the bio card? (only shown on interior pages, usually)

  Styles:
  components/card
  components/main_footer
%>

<% show_bio ||= false %>

<footer data-ui-main-footer role="contentinfo">
  <div class="l-wrapper">
    <% unless show_bio == false %>
      <figure data-ui-card="multicolumn" class="l-gutter-wrapper l-margin-bottom-wide l-padding-bottom border-bottom">
        <div data-ui-card-figure="small" class="l-gutter t-centered">
          <div style="display: inline-block; max-width: 200px;">
            <%= image_tag "portrait.jpg", alt: data.site.title %>
          </div>
        </div>
        <figcaption data-ui-card-content class="l-gutter">
          <p class="t-body"><%= data.site.bio_blurb %></p>
          <% component 'button_link', locals: {
            url: '/about',
            role: 'text',
            classes: 'l-margin-top-narrow'
          } do %>
            More about Jay &rsaquo;
          <% end %>
          <dl class="tag-group l-margin-top l-padding-top border-top border--secondary">
            <dt class="t-accent-bold t-caps t-scale-eta t-leading-tight l-margin-bottom-narrow">Say hi</dt>
            <div class="l-gutter-wrapper l-gutter--xxxnarrow">
              <% data.site.social.each do |site| %>
                <dd class="l-display-inline_block l-no-margin l-gutter"><%= link_to site.name, site.link, class: "t-tag" %></dd>
              <% end %>
            </div>
          </dl>
        </figcaption>
      </figure>
    <% end %>
    <div data-ui-main-footer-lockup>
      <%= component 'logo-jpw' %>
    </div>
    <small data-ui-main-footer-copyright>&copy; copyright <%= Time.now.year %> Jay Perry Works, all rights reserved.</small>
  </div>
</footer>
