<%
  # Main Header component
  # - lives at the top of each page

  # Locals:
  show_intro ||= false # BOOLEAN (optional): show the intro?
  show_nav ||= false # BOOLEAN (optional): show the main nav?
  intro ||= false # BOOLEAN (optional): add a custom intro message
  status ||= false # STRING (optional): add a custom status message to the intro
  theme ||= 'default' # STRING (optional): change the color theme

  def show_highlight?(class_name, url)
    return current_dir?(url) ? class_name : ''
  end
%>

<header<%= " data-theme='#{theme}'" unless theme == 'default' %> class="padding-x-outside" role="banner">
  <nav class="display-flex display-flex-justify">
    <%= partial "components/logo-jp" %>
    <% if show_nav %>
      <!-- large-screen nav -->
      <ul class="list-undecorated margin-x-between-narrow show@small">
        <% data.site.main_nav.each do |item| %>
          <li class="display-inline-block no-margin-top">
            <%= link_to item.label, item.url, class: "display-block padding-top-narrow t-accent t-link-undecorated t-scale-zeta #{show_highlight?('t-highlight-top', item.url)}" %>
          </li>
        <% end %>
      </ul>
      <!-- small-screen nav -->
      <details data-ui-dropdown class="hide@small">
        <summary data-ui-dropdown-toggle class="t-accent t-scale-zeta padding-top-narrow" aria-has-popup="menu">
          <%= component 'icon', locals: {
            id: 'menu',
            margin: 'right'
          } %>
          Menu
          <%= component 'icon', locals: {
            id: 'arrow-down',
            margin: 'left',
            size: 'small'
          } %>
        </summary>
        <div data-ui-dropdown-menu data-theme="default" class="border border-round se-shadow padding-y margin-top-narrow">
          <ul class="list-undecorated margin-y-between-narrow">
            <% data.site.main_nav.each do |item| %>
            <li class="display-block">
              <%= link_to item.label, item.url, class: "display-block padding-x t-accent t-link-undecorated t-scale-zeta t-leading-tight #{show_highlight?('t-highlight-left', item.url)}" %>
            </li>
            <% end %>
          </ul>
        </div>
      </details>
    <% end %>
  </nav>

  <% if show_intro == true %>
    <div class="margin-top-wide padding-bottom-xwide t-centered">
      <% if intro %>
        <div class="t-display t-scale-gamma"><%= render_markdown(intro) %></div>
      <% end %>
      <% if status %>
        <p class="t-display t-scale-delta c-text-tertiary margin-top-xxnarrow"><%= status %></p>
      <% end %>
      <% partial 'components/button_link', locals: {
        url: '/about',
        classes: 'margin-top'
      } do %>
        A bit more about me &rsaquo;
      <% end %>
    </div>
  <% end %>
</header>
