<%#
  Panel component
  - For short content in scrolling sections. Meant to be full-width.

  Locals:
  - STRING slug (optional): a slug header for the top of the panel, e.g. "Recent work"
  - STRING theme (optional): name of color theme, e.g. "reverse" or "wash"
  - STRING classes (optional): additional modifier classes for the container
  - STRING id (optional): assign an id to help with anchor links

  Styles:
  core/borders
  core/color
  base/type
  layout/gutter
%>

<%
  theme ||= "default"
  classes ||= false
  id ||= false
  slug ||= false
  borders ||= [ "top" ]

  # make a list of border classes from the borders array
  border_list = ""

  if borders != "none"
    borders.each do |side|
      border_list << " border-#{side}"
    end
  end
%>

<section class="l-padding-top-wide l-padding-bottom-wide<%= border_list %><%= " c-theme-#{theme}" if theme != "default" %><%= " #{classes}" if classes %>"<% if id %> id="<%= id %>"<% end %>>
    <% if slug %>
      <h1 class="t-heading t-heading--slug t-scale-zeta t-centered l-margin-bottom-wide"><%= slug %></h1>
    <% end %>
    <%= yield %>
</section>
