<%#
  Print edition component
  -> a listing for a print edition, e.g. 'large print of waterfall painting'

  Locals:
  OBJECT edition: the edition content
  STRING asset_path (optional): path to image

  Styles:
  components/card
  components/feed
%>

<div class="overflow-hidden">
  <figure data-ui-card="multicolumn" class="gutter-wrapper gutter" id="edition_<%= edition.name %>">
    <%= image_tag edition.image, data: { "ui-card-figure": "large" }, class: "gutter", alt: edition.name + " edition" %>
    <figcaption data-ui-card-content class="gutter">
      <div data-ui-columns class="gutter-wrapper" style="--breakpoint: 15em; --sidebar-width: 10rem;">
        <div class="gutter">
          <h2 class="t-scale-gamma c-fg-tertiary">
            <strong class="c-fg-primary t-display"><%= edition.name.titleize %></strong> <%= edition.type.titleize %> Print
          </h2>
          <dl data-ui-stats class="padding-top">
            <div data-ui-stats-group>
              <dt data-ui-stats-item="label">Print Size</dt>
              <dd data-ui-stats-item><%= edition.height %> &times; <%= edition.width %>"</dd>
            </div>
            <% if edition.border.present? %>
            <div data-ui-stats-group>
              <dt data-ui-stats-item="label">Paper Size</dt>
              <dd data-ui-stats-item><%= edition.height + (edition.border * 2) %> &times; <%= edition.width + (edition.border * 2) %>"</dd>
            </div>
            <% end %>
            <div data-ui-stats-group>
              <dt data-ui-stats-item="label">Edition</dt>
              <dd data-ui-stats-item><%= edition.limit.present? ? edition.limit : "Open" %></dd>
            </div>
          </dl>
        </div>
        <div class="gutter">
          <% component 'button_link', locals: {
            url: edition.url,
            target: '_blank',
            role: 'primary'
          } do %>
            Buy on Etsy
          <% end %>
        </div>
      </div>
    </figcaption>
  </figure>
</div>
