<%# --- Dependencies --- %>
<%# core/all.scss %>
<%# compoennts/card.scss %>
<%# components/feed.scss %>

<%# --- Locals --- %>
<%# edition - REQUIRED %>
<% asset_path ||= current_page.url %>

<figure class="card card--multicolumn" id="edition_<%= edition.name %>">
  <%= image_tag asset_path + edition.image, :class => "card-figure card-figure--large", :alt => edition.name + " edition" %>
  <figcaption class="card-content">
    <h2 class="t-heading t-scale-delta c-text-tertiary"><strong class="c-text-primary t-display"><%= edition.name.titleize %></strong> <%= edition.type.titleize %> Print</h2>
    <ul class="stat-list l-margin-top-narrow">
      <li class="stat-group">
        <span class="stat stat--label">Print Size</span>
        <span class="stat"><%= edition.height %>" &times; <%= edition.width %>"</span>
      </li>
      <% if edition.border.present? %>
      <li class="stat-group">
        <span class="stat stat--label">Paper Size</span>
        <span class="stat"><%= edition.height + (edition.border * 2) %>" &times; <%= edition.width + (edition.border * 2) %>"</span>
      </li>
      <% end %>
      <li class="stat-group">
        <span class="stat stat--label">Edition</span>
        <span class="stat"><%= edition.limit.present? ? edition.limit : "Open" %></span>
      </li>
    </ul>
    <p class="t-caption l-margin-top-narrow"></p>
    <a class="button l-margin-top" href="<%= edition.url %>" target="_blank">Buy on Etsy</a>
  </figcaption>
</figure>
