<%# --- Dependencies --- %>
<%# core/all.scss %>
<%# compoennts/card.scss %>
<%# components/feed.scss %>

<%# --- Locals --- %>
<%# edition - REQUIRED %>
<% asset_path ||= current_page.url %>

<figure class="card l-feed-item" id="edition_<%= edition.name %>">
    <%= image_tag asset_path + edition.image, :class => "card-figure card-figure--large", :alt => edition.name + " edition" %>
    <figcaption class="card-content">
        <h2 class="t-heading t-heading--sub t-scale-cappa c-text-primary"><strong><%= edition.name.titleize %></strong> <%= edition.type.titleize %> Print</h2>
        <dl class="meta">
            <dt class="meta-label">Print Size</dt>
            <dd><%= edition.height %>" &times; <%= edition.width %>"</dd>
            <dt class="meta-label">Paper Size</dt>
            <dd><%= edition.height + (edition.border * 2) %>" &times; <%= edition.width + (edition.border * 2) %>"</dd>
            <dt class="meta-label">Edition</dt>
            <dd><% if edition.limit.present? %>edition.limit<% else %>Open<% end %></dd>
        </dl>
        <p class="t-caption">Printed at Archival Arts in Baltimore on heavy, textured, acid-free Hahnemuhle cotton rag paper, using archival pigment-based inks. Individually signed and numbered.</p>
        <a class="button l-margin-top" href="<%= edition.url %>" target="_blank">Buy on Etsy</a>
    </figcaption>
</figure>
