<%#
  Print edition component
  -> a listing for a print edition, e.g. 'large print of waterfall painting'

  Locals:
  OBJECT edition: the edition content
  STRING asset_path (optional): path to image

  Styles:
  components/card
  components/feed
%>
<%
  asset_path ||= current_page.url
%>

<figure data-card="multicolumn" id="edition_<%= edition.name %>">
  <%= image_tag asset_path + edition.image, data: { card_figure: "large" }, alt: edition.name + " edition" %>
  <figcaption data-card-content>
    <h2 class="t-scale-gamma c-text-tertiary"><strong class="c-text-primary t-display"><%= edition.name.titleize %></strong> <%= edition.type.titleize %> Print</h2>
    <dl data-ui-stats class="l-margin-top-narrow">
      <div data-ui-stats-group>
        <dt data-ui-stats-item="label">Print Size</dt>
        <dd data-ui-stats-item><%= edition.height %> &times; <%= edition.width %>"</dd>
      </div>
      <% if edition.border.present? %>
      <div data-ui-stats-group>
        <dt data-ui-stats-item="label">Paper Size</dt>
        <dd data-ui-stats-item><%= edition.height + (edition.border * 2) %> &times; <%= edition.width + (edition.border * 2) %>"</dd>
      </div>
      <% end %>
      <div data-ui-stats-group>
        <dt data-ui-stats-item="label">Edition</dt>
        <dd data-ui-stats-item><%= edition.limit.present? ? edition.limit : "Open" %></dd>
      </div>
    </dl>
    <p class="t-caption l-margin-top-narrow"></p>
    <%= link_to "Buy on Etsy", edition.url, data: { button: "primary" }, class: "l-margin-top", target: "_blank" %>
  </figcaption>
</figure>
