<%#
  Print edition component
  -> a listing for a print edition, e.g. 'large print of waterfall painting'

  Locals:
  OBJECT edition: the edition content
  STRING asset_path (optional): path to image

  Styles:
  components/card
  components/feed
%>
<%
  asset_path ||= current_page.url
%>

<figure data-card="multicolumn" id="edition_<%= edition.name %>">
  <%= image_tag asset_path + edition.image, data: { card_figure: "large" }, alt: edition.name + " edition" %>
  <figcaption data-card-content>
    <h2 class="t-scale-gamma c-text-tertiary"><strong class="c-text-primary t-display"><%= edition.name.titleize %></strong> <%= edition.type.titleize %> Print</h2>
    <ul class="stat-list l-margin-top-narrow">
      <li class="stat-group">
        <span class="stat stat--label">Print Size</span>
        <span class="stat"><%= edition.height %>" &times; <%= edition.width %>"</span>
      </li>
      <% if edition.border.present? %>
      <li class="stat-group">
        <span class="stat stat--label">Paper Size</span>
        <span class="stat"><%= edition.height + (edition.border * 2) %>" &times; <%= edition.width + (edition.border * 2) %>"</span>
      </li>
      <% end %>
      <li class="stat-group">
        <span class="stat stat--label">Edition</span>
        <span class="stat"><%= edition.limit.present? ? edition.limit : "Open" %></span>
      </li>
    </ul>
    <p class="t-caption l-margin-top-narrow"></p>
    <%= link_to "Buy on Etsy", edition.url, data: { button: "primary" }, class: "l-margin-top", target: "_blank" %>
  </figcaption>
</figure>
