<%
  # Writing Feed component
  # - A feed of blog article excerpts

  # Locals:
  # articles - ARRAY: articles to list
  classes ||= false # STRING (optional): additional modifier classes (e.g. .l-margin, etc.)
%>

<ul class="list-undecorated l-no-padding-left<%= ' #{classes}' if classes %>">
  <% articles.each_with_index do |article, index| %>
    <li class="l-display-block l-padding-top-xwide<%= ' l-margin-top-xwide' unless index === 0 %> border-top">
      <div class="l-gutter-wrapper">
        <% if article.data.image.present? %>
          <% link_to article.url, class: "l-display-block l-gutter t-link-undecorated t-centered" do %>
            <img src="<%= article.url + article.data.image %>" alt="<%= article.title %>">
          <% end %>
        <% end %>
        <div class="l-gutter">
          <time class="t-heading t-accent-bold t-scale-eta c-text-tertiary"><%= article.date.strftime("%B %-d, %Y") %></time>
          <h2 class="t-scale-beta"><%= link_to article.title, article.url %></h2>
          <% if article.data.subtitle.present? %>
            <span class="t-heading t-accent-light t-scale-gamma c-text-tertiary">
              <%= link_to article.data.subtitle, article.url %>
            </span>
          <% end %>
          <div class="l-padding-top"><%= article.summary %></div>
          <% unless article.data.show_full %>
            <%= link_to "Read more &rsaquo;", article.url, data: { button: "text" }, class: "l-margin-top" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
