<%
  # Writing Feed component
  # - A feed of blog article excerpts

  # Locals:
  # articles - ARRAY: articles to list
  heading_level ||= 2
  classes ||= false # STRING (optional): additional modifier classes (e.g. .margin, etc.)
%>

<ul class="list-undecorated no-padding-left<%= ' #{classes}' if classes %>">
  <% articles.each_with_index do |article, index| %>
    <li class="display-block padding-top-xwide<%= ' margin-top-xwide' unless index === 0 %> border-top">
      <% if article.data.image.present? %>
        <% link_to article.url, class: "display-block padding-bottom t-link-undecorated t-align-center" do %>
          <% path = (article.data.full_path ? article.data.image : "uploads/#{article.data.image}") %>
          <%= image_tag path, alt: article.title %>
        <% end %>
      <% end %>
      <time class="t-heading t-accent-bold t-scale-eta c-text-tertiary"><%= article.date.strftime("%B %-d, %Y") %></time>
      <h<%= heading_level %> class="t-scale-beta">
        <%= link_to article.title, article.url %>
      </h<%= heading_level %>>
      <% if article.data.subtitle.present? %>
        <span class="t-heading t-accent-light t-scale-gamma c-text-tertiary">
          <%= link_to article.data.subtitle, article.url %>
        </span>
      <% end %>
      <div class="padding-top"><%= article.summary %></div>
      <% unless article.data.show_full %>
        <% component 'button_link', locals: {
          url: article.url,
          role: 'text',
          classes: 'margin-top-narrow'
        } do %>
          Read more &rsaquo;
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
