<%# --- Dependencies --- %>
<%# core/all.scss %>
<%# components/card.scss %>
<%# components/feed.scss %>

<%# --- Locals --- %>
<%# articles - REQUIRED %>

<ul class="feed">
    <% articles.each do |article| %>
    <li class="feed-item card horizontal">
        <% if article.data.image.present? %>
            <% link_to article, :class => "card-figure" do %>
                <%= image_tag article.url + article.data.image, :alt => article.title %>
            <% end %>
        <% end %>
        <div class="card-content">
            <h2 class="card-title"><%= link_to article.title, article %></h2>
            <% if article.data.subtitle.present? %>
                <%= link_to article.data.subtitle, article, :class => "card-subtitle cappa" %>
            <% end %>
            <%= article.summary %>
            <%= link_to "Read more &rsaquo;", article, :class => "card-button" %>
        </div>
    </li>
    <% end %>
</ul>
