---
// A teaser that displays a blurb and cover image, links to other content

// assets
import '@styles/tokens/spacing.css';
import '@styles/tokens/type.css';
import arrowRight from '@icons/arrow-right.svg?raw';

// components
import Button from '@components/elements/Button.astro';
import Figure from '@components/blocks/Figure.astro';
import Collage from '@components/blocks/Collage.astro';
import Heading from '@components/blocks/Heading.astro';
import Passage from '@components/blocks/Passage.astro';
import Number from '@components/tableOfContents/Number.astro';

// types
import type { RichTextField } from '@prismicio/types';
import type { CollageItem } from '@components/blocks/Collage.astro';

export type BillboardCoverImages = CollageItem[];

export interface Props {
	title: string,
	cta: {
		link: string,
		label: string,
	},
	coverImages?: BillboardCoverImages,
	description?: {
		prismicText: RichTextField
	},
	number?: number,
	subtitle?: string,
}

const {
	coverImages,
	cta,
	description,
	number,
	subtitle,
	title,
} = Astro.props as Props;
---

<article>
	<header>
		{number && <Number {number} />}
		<Heading level={1}>
			<a
				class="type-link-undecorated"
				href={cta.link}
			>
				{title}
			</a>
		</Heading>
		{subtitle && (
			<Heading
				class="subtitle"
				level={3}
				subheading
			>
				{subtitle}
			</Heading>
		)}
		{description && (
			<Passage
				typeSize="delta"
				typeFace="display"
				text={description}
			/>
		)}
		<Button
			class="cta"
			href={cta.link}
			iconRight={arrowRight}
		>
			{cta.label || 'Read more'}
		</Button>
	</header>
			{coverImages?.length > 1
				? <Collage
						class="cover"
						images={coverImages}
					/>
				: <Figure
						class="cover"
						fit="contain"
						source={coverImages[0].source}
					/>
			}
</article>

<style>
	header > :global(* + *) {
		padding-top: var(--space-medium);
	}

	header > :global(.subtitle) {
		padding-block-start: var(--space-xnarrow);
	}

	header > :global(.cta) {
		margin-top: var(--space-wide);
	}

	article {
		display: grid;
		flex: 1;
		grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
		gap: var(--space-xwide);
		align-items: center;
	}

	article :global(.cover) {
		justify-self: center;
	}

	article :global(.cover) > :global(img) {
		max-height: 60vh;
	}
</style>
