<% wrap_layout :layout do %>
  <%= component "main_header" %>

  <article class="margin-top-wide padding-x-outside padding-bottom-xwide">
    <header class="margin-bottom">
      <!-- Titles -->
      <h1 class="t-centered"><%= current_page.data.title %></h1>
      <% if current_page.data.subtitle.present? %>
        <span class="t-heading t-accent-light t-scale-gamma t-centered c-text-tertiary"><%= current_page.data.subtitle %></span>
      <% end %>

      <!-- Cover image -->
      <% if current_page.data.image.present? %>
        <%= component 'cover_image', locals: {
          source: (current_page.data.full_path ? current_page.data.image : "uploads/#{current_page.data.image}"),
          alt: current_page.data.title,
          classes: 'margin-top-wide margin-bottom-wide'
        } %>
      <% end %>

      <%# If there's date metadata, list it %>
      <%# note: using current_page.date instead of current_page.data.date b/c date is listed in filename of blog posts %>
      <% if current_page.respond_to?(:date) %>
        <% component 'wrapper' do %>
          <%= component "meta", locals: {
            date: current_page.date.strftime("%B %-d, %Y"),
            borders: ["bottom"],
            classes: "margin-top-wide"
          } %>
        <% end %>
      <% end %>
    </header>

    <!-- Main content -->
    <% component 'wrapper', locals: {
      el: 'main',
      classes: 't-content t-content-dropcap'
    } do %>
      <% if current_page.data.intro_note %>
        <div class="t-body-italic">
          <%= render_markdown(current_page.data.intro_note) %>
        </div>
      <% end %>
      <%= yield %>
    <% end %>
  </article>
<% end %>
