<% wrap_layout :layout do %>
  <%= component "main_header" %>

  <article class="l-margin-top-wide">
    <header class="l-margin-bottom">
      <!-- Titles -->
      <div class="l-wrapper l-wrapper--full">
        <h1 class="t-centered"><%= current_page.data.title %></h1>
        <% if current_page.data.subtitle.present? %>
          <span class="t-heading t-accent-light t-scale-gamma t-centered c-text-tertiary"><%= current_page.data.subtitle %></span>
        <% end %>
      </div>

      <!-- Cover image -->
      <% if current_page.data.image.present? %>
        <%= component 'cover_image', locals: {
          source: current_page.data.image,
          alt: current_page.data.title,
          classes: 'l-margin-top-wide l-margin-bottom-wide'
        } %>
      <% end %>

      <%# If there's date metadata, list it %>
      <%# note: using current_page.date instead of current_page.data.date b/c date is listed in filename of blog posts %>
      <% if current_page.respond_to?(:date) %>
        <div class="l-wrapper">
          <%= component "meta", locals: {
            date: current_page.date.strftime("%B %-d, %Y"),
            borders: ["bottom"],
            classes: "l-margin-top-wide"
          } %>
        </div>
      <% end %>
    </header>

    <!-- Main content -->
    <main class="t-content t-content--dropcap l-wrapper l-margin-bottom-xwide">
      <%= yield %>
    </main>

    <!-- <footer class="l-wrapper l-margin-top-wide l-margin-bottom">
      <div class="border-top l-padding-top">
        <h1 class="t-display t-display--slug t-scale-eta l-margin-bottom-narrow c-text-tertiary">Filed under:</h1>
        <%# component "tag_list", locals: { tags: current_page.data.tags } %>
      </div>
    </footer> -->

  </article>

  <!-- <nav class="border-top">
    <%# prev_post(current_page.data.title) %>
    <div>
      <h1></h1>
    </div>
  </nav> -->
<% end %>
