<% wrap_layout :layout do %>
  <article class="l-margin-top-wide">
    <header class="l-wrapper">
      <h1 class="t-heading t-scale-beta"><%= current_page.data.title %></h1>
      <% if current_page.data.subtitle.present? %>
        <span class="t-heading t-heading--sub t-scale-cappa">Lorem ipsum dolor sit amet adipiscig elit<%# current_page.data.subtitle %></span>
      <% end %>
    </header>

    <main class="l-wrapper l-margin-top-narrow">
      <%= component "meta", locals: {
        date: current_page.date.strftime("%B %-d, %Y"),
        borders: "none",
        classes: "l-margin-bottom"
      } %>

      <% if current_page.data.image.present? %>
        <%= image_tag current_page.url + current_page.data.image, :class => "l-margin-bottom-narrow", :alt => current_page.data.title %>
      <% end %>

      <div class="content">
        <%= yield %>
      </div>
    </main>

    <footer class="l-wrapper l-margin-top-wide l-margin-bottom">
      <div class="border-top l-padding-top">
        <h1 class="t-heading t-heading--slug t-scale-eta l-margin-bottom-narrow c-text-tertiary">Filed under:</h1>
        <%= component "tag_list", locals: { tags: current_page.data.tags } %>
      </div>
    </footer>

  </article>
  <nav class="pagination">
      <%#= current_page.date %>
      <%# blog.articles.select {|article| article.data[:public] }.each do |article| %>
  </nav>
<% end %>
