<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= data.site.site_title %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <script>
            // HTML5 element HTML5 shiv
            document.createElement("main");
            document.createElement("picture");
        </script>
        <%= javascript_include_tag "libs" %>
        <%= stylesheet_link_tag "main" %>
    </head>

    <%= partial "layouts/partials/spritemap" %>

    <body>
        <header class="header" role="banner">
            <%= partial("layouts/partials/logo-jp") %>
            <% if current_page.data.title == "home" %>
            <div class="header-intro">
                <p class="header-title"><%= data.site.intro %></p>
                <p class="header-subtitle"><%= data.site.statuses[rand(data.site.statuses.length)] %></p>
            </div>
            <% end %>
        </header>

        <%= yield %>

        <footer class="footer" role="contentinfo">
            <div class="footer-section">
                <div class="card horizontal l-wrapper narrow">
                    <img class="card-figure" src="http://placehold.it/600x400" alt="Jay Perry">
                    <div class="card-content">
                        <p>Jay Perry is a poophead, designer, illustrator, and writer living near Baltimore. He likes books, old rusty cars, and forests.</p>
                        <dl class="tags">
                            <dt class="tags-label inline">Say hi</dt>
                            <% data.site.social.each do |site| %>
                            <dd><%= link_to site.name, site.link, :class => "tag" %></dd>
                            <% end %>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="footer-section">
                <div class="l-wrapper narrow">
                    <%= partial("layouts/partials/logo-jpw", :locals => { :classes => "footer-logo" }) %>
                    <small class="footer-copyright">&copy; copyright <%= Time.now.year %> Jay Perry Works, all rights reserved.</small>
                    <!-- <a href="" class="footer-utility">Colophon</a> -->
                </div>
            </div>
        </footer>

        <%= javascript_include_tag  "main" %>
        <%= google_analytics_tag %>
    </body>
</html>
