<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js ie ie-old" lang="en-US"><![endif]-->
<!--[if gt IE 9]><html class="no-js ie ie-9" lang="en-US"><![endif]-->
<html class="no-js no-ie" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.site.site_title %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#474747">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag build? ? "main.min.css" : "main.css" %>
    <%= javascript_include_tag "javascripts/critical.bundle" %>

    <script type="text/javascript">
      // Test for IE 11 support
      if(!(window.ActiveXObject) && "ActiveXObject" in window){
        var htmlClass = document.querySelector('html').classList;
        htmlClass.remove('no-ie');
        htmlClass.add('ie');
        htmlClass.add('ie-11');
      }
    </script>
  </head>

  <body>
    <%# component "spritemap" %>
    <aside class="l-gutter-wrapper c-theme-reverse c-highlight-bg">
      <div class="l-wrapper l-wrapper--wide l-display-flex@xsmall t-centered t-left@xsmall">
        <p class="t-accent l-flex-fill l-gutter l-no-margin"><strong class="t-accent-bold">Save Net Neutrality!</strong> The open internet is under threat and it needs your help.</p>
        <div class="l-gutter">
          <a href="https://github.com/save-net-neutrality" data-button="small">Find out more</a>
        </div>
      </div>
    </aside>

    <%= yield %>

    <%= component "main_footer", locals: {
      show_bio: current_page.data.title == "home" || current_page.data.hide_bio == true ? false : true
    } %>

    <%= javascript_include_tag "javascripts/main.bundle" %>
    <%= google_analytics_universal_tag %>
  </body>
</html>
