<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= site_title %> | <%= current_page.data.title %></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <script>
            // HTML5 element HTML5 shiv
            document.createElement("main");
            document.createElement("picture");
        </script>
        <%= javascript_include_tag "libs" %>
        <%= stylesheet_link_tag "main" %>

        <!-- custom page colors -->
        <style type="text/CSS">

        </style>
    </head>

    <%= partial "layouts/partials/spritemap" %>

    <body class="<%= page_classes %>">
        <header class="header global" role="banner">
            <a class="logo prints" href="/">
                <% partial("layouts/partials/icon", :locals => { :id => "logo-jp", :title => "Prints &amp; Paintings by Jay Perry" }) %>
            </a>
        </header>

        <%= yield %>

        <%= javascript_include_tag  "main" %>

        <%= google_analytics_tag %>
    </body>
</html>
