<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Use title if it's in the page YAML frontmatter %>
    <title><%= data.site.site_title %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

    <meta name="description" content="">
    <%= partial "layouts/partials/favicon" %>

    <%= stylesheet_link_tag :main %>
    <script>
      // Add a class to the html element to confirm JS is available
      // -> used by the CSS for styling JS-dependent elements
      document.documentElement.className = "js"
    </script>
  </head>

  <body>
    <!-- icon sprites -->
    <div style="display: none; position: absolute; height: 0; width: 0;">
      <%= partial "layouts/partials/spritemap" %>
    </div>

    <%= yield %>

    <%= component 'main_footer', locals: {
      show_bio: current_page.data.title == 'home' || current_page.data.hide_bio == true ? false : true
    } %>
  </body>
</html>
