<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Use title if it's in the page YAML frontmatter %>
    <title><%= data.site.site_title %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>

    <meta name="description" content="">

    <%= component "favicon" %>

    <%= stylesheet_link_tag :main %>
    <%= javascript_include_tag "javascripts/critical.bundle" %>
  </head>

  <body>
    <%# component "spritemap" %>

    <%= yield %>

    <%= component 'main_footer', locals: {
      show_bio: current_page.data.title == 'home' || current_page.data.hide_bio == true ? false : true
    } %>
  </body>
</html>
