<% wrap_layout :layout do %>
  <%= component "main_header", locals: {
    show_nav: true,
    theme: "reverse"
  } %>

  <article>
    <% component 'panel', locals: {
      borders: 'none',
      theme: 'reverse',
      padding: {
        top: 'wide',
        bottom: 'xwide',
        x: 'outside'
      }
    } do %>
      <%= component 'cover_image', locals: {
        source: (current_page.data.full_path ? current_page.data.cover : "uploads/#{current_page.data.cover}"),
        alt: current_page.data.cover
      } %>

      <!-- cover image, info, and title -->
      <% component 'wrapper', locals: {
        classes: 'padding-top-wide t-align-center',
        centered: true
      } do %>

        <%
          # if the painting has dimension metadata, add it to the format listing
          info = if current_page.data.width.present?
            "#{current_page.data.format}, #{current_page.data.width} &times; #{current_page.data.height}"
            else
              current_page.data.format
            end

          cover_breakpoint = "xsmall"
        %>

        <h1 class="t-accent-bold t-scale-epsilon display-inline-block@<%= cover_breakpoint %>"><%= current_page.data.title %></h1>
        <time class="t-accent t-scale-epsilon c-fg-tertiary display-inline_block padding-left-narrow margin-left-narrow border-left@<%= cover_breakpoint %>"><%= current_page.date.strftime('%Y') %></time>
        <span class="t-accent t-scale-epsilon c-fg-tertiary display-inline_block padding-left-narrow margin-left-narrow border-left"><%= info %></span>
      <% end %>
    <% end %>

    <%# check if page has actual content before rendering the panel %>
    <% unless yield.blank? %>
      <% component "panel" do %>

        <!-- writeup -->
        <% component "outdented_blurb", locals: {
          heading: "Backstory"
        } do %>
          <%= yield %>

          <!-- 'editions available on etsy' button -->
          <% if current_page.data.edition_placeholder == true %>
            <div class="t-align-center margin-top-wide">
              <% component 'button_link', locals: {
                url: data.site.etsy_link,
                role: 'primary',
                size: 'large',
                target: '_blank'
              } do %>
                Print editions available at <strong>Etsy</strong>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Editions -->
    <% component 'panel', locals: { heading: 'Available editions' } do %>
      <% if current_page.data.editions.present? %>
        <!-- edition cards -->
        <ul data-ui-gallery="large" style="--gutter: var(--space-wide);">
          <% current_page.data.editions.each_with_index do |edition, index| %>
            <li data-ui-gallery-item>
              <% edition.image = "uploads/#{edition.image}" unless current_page.data.full_path %>
              <%= component "print_edition", locals: {
                edition: edition
              } %>
            </li>
          <% end %>
        </ul>
        <aside class="border-top margin-top-xwide padding-top-xwide">
          <% component "outdented_blurb", locals: {
            heading: "About Giclee prints",
            heading_appearance: "gamma",
            body_classes: "t-body-italic"
          } do %>
            <%= render_markdown(data.site.print_descriptions.giclee) %>
          <% end %>
        </aside>
      <% end %>
    <% end %>
  </article>

  <!-- More work -->
  <% component "panel", locals: {
    heading: "More work",
    classes: "c-bg-well"
  } do %>
    <% component 'wrapper', locals: { width: 'xwide' } do %>
      <%= component 'pictures_gallery', locals: {
        pictures: blog('pictures').articles,
        current: false
      } %>
    <% end %>
  <% end %>
<% end %>
