<% wrap_layout :layout do %>
  <article class="post">
    <% component "panel", locals: { classes: "top" } do %>
      <%= image_tag current_page.url + current_page.data.cover, class: "cover", alt: current_page.data.title %>

      <!-- cover image and info -->
      <header class="post-header">
        <% component "meta", locals: { date: current_page.date.strftime('%Y'), tags: current_page.data.tags } do %> <% end %>
          <h1><%= current_page.data.title %></h1>
      </header><!-- /.post-header -->

      <!-- writeup -->
      <div class="post-content l-wrapper">
        <%= yield %>

        <% if current_page.data.edition_placeholder == true %>
          <div class="l-centered">
              <a class="button large l-has-margin top" href="https://www.etsy.com/shop/jayperry" target="_blank">Print editions available at <strong>Etsy</strong></a>
          </div>
        <% end %>
      </div>

      <% end %>

      <!-- Editions -->
      <% if current_page.data.editions.present? %>
        <% component "panel", locals: { slug: "Available editions" } do %>
          <!-- edition cards -->
          <div class="l-wrapper">
            <ul class="feed">
              <% current_page.data.editions.each do |edition| %>
                <%= component "print_edition", :locals => { :edition => edition } %>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
  </article>

  <!-- More work -->
  <% component "panel", locals: { slug: "More work" } do %>
      <div class="l-wrapper">
          <%= partial("components/work_gallery", :locals => { :prints => blog("work").articles, :current => true, :tags => false }) %>
      </div>
  <% end %>
<% end %>
