<% wrap_layout :layout do %>
<article class="post">
    <section class="panel">
        <img class="hero" src="<%= asset_url(media_dir + "/" + current_page.data.hero) %>" alt="<%= current_page.data.title %>">
        <header class="post-header">
            <time class="post-date"><%= current_page.date.strftime('%Y') %></time>
            <h1 class=""><%= current_page.data.title %></h1>
            <span class="post-info"><%= current_page.data.format %>, <%= current_page.data.width %> x <%= current_page.data.height %></span>
            <ul class="post-tags">
                <% current_page.data.tags.each do |tag| %>
                <li><a class="post-tag" href="#"><%= tag %></a></li>
                <% end %>
            </ul>
        </header>
        <div class="post-body">
            <%= yield %>
        </div>

    </section>

    <% if current_page.data.editions.present? %>
    <section class="panel">
        <h2 class="panel-slug">Available Editions</h2>
        <nav class="nav jump">
            <ul>
                <% current_page.data.editions.each do |edition| %>
                    <% if edition.name %>
                    <li>
                        <a href="#edition--<%= edition.name %>">
                            <%# partial("layouts/partials/icon", :locals => { :id => "edition-#{edition.name}", :classes => "edition", :title => "#{edition.name.titleize} Print Edition" }) %>
                            <%= edition.name %>
                        </a>
                    </li>
                    <% end %>
                <% end %>
            </ul>
        </nav>

        <% current_page.data.editions.each do |edition| %>
        <figure class="media full" id="#edition--<%= edition.name %>">
            <img src="<%= asset_url(media_dir + "/" + edition.image) %>" alt="<%= edition.name %> edition">
            <figcaption class="media-description">
                <h2><%= edition.name.titleize %> <%= edition.type.titleize %> Print &bull; <%= edition.price %></h2>
                <dl>
                    <dt>Print Size</dt>
                    <dd><%= edition.height %>" x <%= edition.width %>"</dd>
                    <dt>Paper Size</dt>
                    <dd><%= edition.height + (edition.border * 2) %>" x <%= edition.width + (edition.border * 2) %>"</dd>
                </dl>
                <a href="">Buy this print</a>
            </figcaption>
        </figure>
        <% end %>
    </section>
    <% end %>
</article>
<% end %>
