<% wrap_layout :layout do %>
  <article>
    <% component "panel", locals: { borders: "none" } do %>
      <%= image_tag current_page.url + current_page.data.cover, class: "cover", alt: current_page.data.title %>

      <!-- cover image, info, and title -->
      <header class="l-wrapper l-margin-top-narrow">
        <% info = current_page.data.width.present? ? "#{current_page.data.format}, #{current_page.data.width} &times; #{current_page.data.height}" : current_page.data.format %>
        <%= component "meta", locals: {
          date: current_page.date.strftime('%Y'),
          info: info
        } %>
        <h1 class="t-heading t-scale-beta l-margin-top"><%= current_page.data.title %></h1>
      </header>

      <!-- writeup -->
      <div class="content l-wrapper">
        <%= yield %>

        <!-- 'editions available on etsy' button -->
        <% if current_page.data.edition_placeholder == true %>
          <div class="t-centered l-margin-top-wide">
              <a class="button button--large" href="https://www.etsy.com/shop/jayperry" target="_blank">Print editions available at <strong>Etsy</strong></a>
          </div>
        <% end %>
      </div>

      <% end %>

      <!-- Editions -->
      <% if current_page.data.editions.present? %>
        <% component "panel", locals: { slug: "Available editions" } do %>
          <!-- edition cards -->
          <div class="l-wrapper l-wrapper--wide">
            <ul class="l-feed">
              <% current_page.data.editions.each do |edition| %>
                <%= component "print_edition", :locals => { :edition => edition } %>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
  </article>

  <!-- More work -->
  <% component "panel", locals: { slug: "More work" } do %>
      <div class="l-wrapper l-wrapper--wide">
          <%= partial("components/work_gallery", :locals => { :prints => blog("work").articles, :current => false, :tags => false }) %>
      </div>
  <% end %>
<% end %>
