<% wrap_layout :layout do %>
  <%= component "main_header", locals: {
    theme: "reverse"
  } %>

  <article>
    <% component 'panel', locals: {
      borders: 'none',
      theme: 'reverse',
      padding: {
        top: 'wide',
        bottom: 'xwide',
        x: 'outside'
      }
    } do %>
      <%= component 'cover_image', locals: {
        source: "#{current_page.url}#{current_page.data.cover}",
        alt: current_page.data.cover,
        classes: 'padding-x-wide'
      } %>

      <!-- cover image, info, and title -->
      <% component 'wrapper', locals: { classes: 'padding-top-wide t-centered' } do %>

        <%
          # if the painting has dimension metadata, add it to the format listing
          info = if current_page.data.width.present?
            "#{current_page.data.format}, #{current_page.data.width} &times; #{current_page.data.height}"
            else
              current_page.data.format
            end

          cover_breakpoint = "xsmall"
        %>

        <h1 class="t-accent-bold t-scale-epsilon display-inline_block@<%= cover_breakpoint %>"><%= current_page.data.title %></h1>
        <time class="t-accent t-scale-epsilon c-text-tertiary display-inline_block padding-left-narrow margin-left-narrow border-left@<%= cover_breakpoint %>"><%= current_page.date.strftime('%Y') %></time>
        <span class="t-accent t-scale-epsilon c-text-tertiary display-inline_block padding-left-narrow margin-left-narrow border-left"><%= info %></span>
      <% end %>
    <% end %>

    <%# check if page has actual content before rendering the panel %>
    <% unless yield.blank? %>
      <% component "panel" do %>
        <!-- writeup -->
        <% component 'wrapper', locals: { classes: 't-content' } do %>
          <%= yield %>

          <!-- 'editions available on etsy' button -->
          <% if current_page.data.edition_placeholder == true %>
            <div class="t-centered margin-top-wide">
              <% component 'button_link', locals: {
                url: data.site.etsy_link,
                role: 'primary',
                size: 'large',
                target: '_blank'
              } do %>
                Print editions available at <strong>Etsy</strong>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <!-- Editions -->
    <% component 'panel', locals: { heading: 'Available editions' } do %>
      <% if current_page.data.editions.present? %>
        <!-- edition cards -->
        <% component 'wrapper', locals: { width: 'wide' } do %>
          <ul class="list-undecorated">
            <% current_page.data.editions.each_with_index do |edition, index| %>
              <li class="display-block padding-y-wide overflow-hidden<%= ' border-top' unless index == 0 %>">
                <%= component "print_edition", :locals => { :edition => edition } %>
              </li>
            <% end %>
          </ul>
          <aside class="border-top margin-top-wide">
            <% component 'wrapper', locals: {
              width: 'narrow',
              classes: 't-centered'
            } do %>
              <h2 class="t-display t-scale-delta padding-top-wide padding-bottom-narrow">About Giclee prints</h2>
              <p class="t-body-italic t-scale-epsilon c-text-tertiary"><%= data.site.print_descriptions.giclee %></p>
            <% end %>
          </aside>
        <% end %>
      <% end %>
    <% end %>
  </article>

  <!-- More work -->
  <% component "panel", locals: { heading: "More work" } do %>
    <% component 'wrapper', locals: { width: 'wide' } do %>
      <%= partial("components/work_gallery", :locals => { :prints => blog("work").articles, :current => false, :tags => false }) %>
    <% end %>
  <% end %>
<% end %>
