---
/**
 * Inline SVG for the 'Jay Perry Works' logo
 *
 * @param {ColorRoles} [primaryColor='primary'] - color for the lettering
 * @param {ColorRoles} [secondaryColor='secondary'] - color for the box
 * @param {string} [class] - append classes to the container
 * @param {object} [attrs] - append attributes to the container
 */

// --- types ---
import type { ColorRoles } from '@shared/lib/types';

// --- props ---
const {
	primaryColor = 'primary',
	secondaryColor = 'secondary',
	class: className = '',
	...attrs
} = Astro.props;
---

<svg
	viewBox="0 0 301 48"
	preserveAspectRatio="xMinYMin"
	width="301"
	height="48"
	class={className}
	{...attrs}
>
	<title>Jay Perry Works</title>

	<!-- Jay Perry -->
	<path
		d="M4.29 43.734c-1.104 0-3.142-.213-4.076-.467-.255-.043-.213-4.628 0-4.628h.382c1.019.806 2.123 1.655 3.312 2.165.636.297 1.443.509 2.08.509 1.826 0 2.505-.976 2.505-3.396V6.667l-2.887-.382c-.085 0 0-1.316.085-1.316h12.78c.085 0 0 1.316-.085 1.316-.51.085-2.165.297-2.76.424-.085 1.656-.127 4.713-.127 6.539v19.446c0 8.45-6.157 11.04-11.209 11.04m18.936-6.369c-3.609 0-5.944-1.996-5.944-5.605 0-3.694 2.463-5.095 5.392-5.944 1.274-.425 2.675-.849 4.416-1.613 1.401-.595 2.42-1.104 2.42-2.633v-1.571c0-3.227-1.189-4.585-4.161-4.585-2.505 0-4.628 1.528-6.241 3.524h-.425c-.17 0-.297-4.119 0-4.246 1.826-.765 4.671-1.274 7.728-1.274 5.477 0 9.723 1.274 9.723 6.708v12.611c0 1.528.509 1.868 1.656 1.868.467 0 .849-.085 1.189-.212.084-.043.084 1.104 0 1.189-.807 1.019-2.336 1.783-4.501 1.783-2.42 0-3.991-1.104-4.501-2.887-.085-.17-.127-.552-.17-.722h-.127c-.892 1.698-3.142 3.609-6.454 3.609m3.312-3.1c1.614 0 2.548-1.104 2.972-1.868v-7.642c-.212.254-.594.509-1.231.806-.595.255-1.529.552-2.038.807-1.189.509-2.378 1.274-2.378 4.246 0 2.378.977 3.651 2.675 3.651M40.889 44.37c-.934 0-2.335-.212-2.717-.382-.297-.127-.297-3.524-.043-3.524h.34c.934.934 1.868 1.656 3.269 1.656 1.614 0 2.336-.467 3.227-1.443.68-.807 1.104-1.699 1.486-2.803l-8.407-22.46-1.486-.34c-.127-.043-.127-1.147 0-1.147h11.379c.128 0 .085 1.104-.085 1.147l-2.42.34c.637 1.953.934 3.014 1.741 5.18.425 1.273 2.335 7.048 2.972 8.789h.085c.764-1.954 2.208-6.284 2.845-8.068.934-2.887 1.359-4.161 1.783-5.817-.934-.212-1.571-.297-2.293-.424-.127-.043-.085-1.147.043-1.147h5.902c.127 0 .042 1.104-.085 1.147l-1.486.467c-.552 1.571-1.062 3.099-2.208 6.114l-5.18 13.714c-1.104 2.802-2.166 4.925-3.185 6.284-1.443 1.911-3.354 2.717-5.477 2.717m22.432-7.557c-.084 0 0-1.316.085-1.316a45 45 0 0 0 2.675-.425c.085-1.656.128-4.755.128-6.581V6.667l-2.845-.382c-.085 0 0-1.316.085-1.316h10.317c9.978 0 14.054 3.566 14.054 9.171 0 6.878-7.77 9.511-12.27 9.638-.128 0-.213-1.401-.043-1.444 2.42-.424 5.435-1.783 5.435-7.6 0-5.137-1.231-8.109-7.643-8.109-.042 1.91-.085 4.628-.085 6.623v21.824l3.142.425c.085 0 .043 1.316-.085 1.316zm43.783-4.925c-.807 1.655-3.482 5.477-9.596 5.477-7.388 0-11.209-4.713-11.209-11.464 0-7.813 4.882-12.483 11.124-12.483 6.836 0 10.148 4.076 9.723 10.785H92.922c.17 6.283 3.312 8.831 7.346 8.831 3.481 0 5.477-1.444 6.751-2.548.212-.169.212 1.104.085 1.402m-9.766-16.857c-2.378 0-4.161 2.081-4.373 7.516l7.6-.51c0-5.052-1.019-7.006-3.227-7.006m10.148 21.782c-.128 0-.043-1.189.042-1.189l2.123-.34c.042-1.358.042-3.311.042-5.095v-8.152c0-1.826-.042-3.439-.084-5.307a27 27 0 0 0-2.166-.595c-.042 0-.085-1.019.043-1.061 3.906-.807 5.137-1.062 8.364-1.783.085-.043.382.212.382.297l-.085 5.01h.17c1.104-2.717 3.439-5.265 5.987-5.265.976 0 1.528.127 2.038.467.127.085-.043 5.435-.17 5.435h-.34c-.509-.255-1.443-.679-2.675-.679-1.868 0-3.524.551-4.797 1.783v14.945c.764.128 1.74.213 2.59.34.127 0 0 1.189-.043 1.189zm17.578 0c-.128 0-.043-1.189.042-1.189l2.123-.34c.042-1.358.042-3.311.042-5.095v-8.152c0-1.826-.042-3.439-.084-5.307a27 27 0 0 0-2.166-.595c-.042 0-.085-1.019.043-1.061 3.906-.807 5.137-1.062 8.364-1.783.085-.043.382.212.382.297l-.085 5.01h.17c1.104-2.717 3.439-5.265 5.987-5.265.976 0 1.528.127 2.038.467.127.085-.043 5.435-.17 5.435h-.34c-.509-.255-1.443-.679-2.675-.679-1.868 0-3.524.551-4.798 1.783v14.945c.765.128 1.741.213 2.59.34.128 0 0 1.189-.042 1.189zM147.1 44.37c-.934 0-2.336-.212-2.718-.382-.297-.127-.297-3.524-.042-3.524h.34c.934.934 1.868 1.656 3.269 1.656 1.613 0 2.335-.467 3.227-1.443.679-.807 1.104-1.699 1.486-2.803l-8.407-22.46-1.486-.34c-.127-.043-.127-1.147 0-1.147h11.379c.127 0 .085 1.104-.085 1.147l-2.42.34c.637 1.953.934 3.014 1.741 5.18.424 1.273 2.335 7.048 2.972 8.789h.085c.764-1.954 2.208-6.284 2.844-8.068.935-2.887 1.359-4.161 1.784-5.817-.934-.212-1.571-.297-2.293-.424-.127-.043-.085-1.147.042-1.147h5.902c.128 0 .043 1.104-.085 1.147l-1.486.467c-.552 1.571-1.061 3.099-2.208 6.114l-5.18 13.714c-1.104 2.802-2.165 4.925-3.184 6.284-1.444 1.911-3.354 2.717-5.477 2.717"
		style={`fill: var(--color-${primaryColor}, currentColor)`}
	></path>

	<!-- Works -->
	<path
		d="M200.247 36.92c3.39-9.746 6.949-21.186 9.958-30.085.635-.169 1.271-.296 2.118-.551.085-.042.17-1.313.085-1.313h-7.754c-.085 0-.17 1.313-.085 1.313l3.178.636c-2.246 7.288-3.983 12.5-6.271 19.957h-.297l-3.856-13.093c-.847-3.05-1.44-5.339-1.906-7.076l2.627-.424c.127 0 .169-1.313.085-1.313h-13.178c-.085.212-.127 1.144-.085 1.313 1.186.17 1.398.255 2.839.424l1.144 3.475c-1.907 5.932-3.432 10.55-5.381 16.652h-.297l-4.025-13.051c-.932-3.178-1.483-5.127-1.992-7.076 1.017-.127 1.61-.254 2.543-.424.084 0 .169-1.313.042-1.313h-12.373c-.042.212-.085 1.144-.042 1.313.763.17 1.313.297 2.118.424 1.06 2.966 9.577 30.127 9.619 30.212.042.169 3.136.127 3.178 0 2.542-7.373 5.212-15.72 7.669-23.22 2.797 9.025 7.077 23.177 7.119 23.22.085.169 3.178.127 3.22 0M218.467 37.301c6.653 0 11.653-4.703 11.653-12.076s-5.212-11.822-11.865-11.822c-6.567 0-11.61 4.661-11.61 12.034s5.212 11.864 11.822 11.864m0-1.61c-3.178 0-4.915-2.373-4.915-10.424-.042-7.627 1.695-10.254 4.703-10.254 3.221 0 4.958 2.331 4.958 10.424 0 7.627-1.695 10.254-4.746 10.254"
		style={`fill: var(--color-${secondaryColor}, currentColor)`}
	></path>
	<path
		d="M229.908 36.75h11.398c.042 0 .17-1.186.042-1.186-.847-.127-1.822-.212-2.584-.339V20.31c1.271-1.229 2.923-1.78 4.788-1.78 1.229 0 2.161.424 2.669.678h.339c.127 0 .297-5.339.17-5.424-.509-.339-1.06-.466-2.034-.466-2.542 0-4.873 2.543-5.975 5.254h-.169l.085-4.999c0-.085-.297-.339-.382-.297-3.22.72-4.449.974-8.347 1.78-.127.042-.085 1.059-.042 1.059.889.212 1.355.339 2.161.593.042 1.864.084 3.475.084 5.297v8.135c0 1.78 0 3.729-.042 5.085l-2.119.339c-.084 0-.169 1.186-.042 1.186"
		style={`fill: var(--color-${secondaryColor}, currentColor)`}
	></path>
	<path
		d="M276.276 37.301c-3.191.096-10.971-.157-13.445-.763-1.017-1.017-2.034-2.245-3.22-4.237-1.483-2.415-2.67-4.152-3.602-6.398v-.678c4.534-6.059 5.678-7.839 7.754-11.313 1.102-.128 4.068-.085 5.212 0v.466c-3.813 3.686-5.932 5.508-8.093 7.754l.001.047c3.533 5.902 6.279 9.093 8.1 10.628 1.886 1.589 4.742 2.916 7.209 2.916 2.415 0 3.728-.88 3.728-3.041 0-2.118-1.567-2.966-5.55-4.745-2.585-1.144-5.339-3.009-5.339-7.076 0-5.043 4.449-7.458 8.983-7.458 2.627 0 4.788.381 6.016 1.102.212.127.128 4.661 0 4.661h-.466c-1.271-2.288-3.05-4.026-5.762-4.026-1.949 0-3.729 1.017-3.729 2.924 0 2.246 1.652 2.797 4.576 4.195 3.898 1.822 6.737 3.644 6.737 7.373 0 4.957-3.858 7.512-9.11 7.669m-29.885-.551c-.127 0-.043-1.186.042-1.186l2.119-.339c.042-1.356.042-3.305.042-5.085V12.598c0-1.822-.042-3.432-.085-5.297a27 27 0 0 0-2.161-.593c-.042 0-.084-1.017.043-1.059 3.39-.678 6.61-1.271 8.517-1.78.127-.042.381.17.381.297 0 1.059-.085 3.39-.085 5.254v25.847c.805.127 1.483.17 2.331.297.127 0 0 1.186-.043 1.186z"
		style={`fill: var(--color-${secondaryColor}, currentColor)`}
	></path>
</svg>
