<%#
  Main Header component
  - lives at the top of each page

  Locals:
  BOOLEAN show_intro (optional): want to show the intro?
  STRING intro (optional): the intro statement
  STRING status (optional): the status statement
%>

<%
  show_intro ||= false
  intro ||= false
  status ||= false
  theme ||= "default"
%>

<header<%= " data-theme='#{theme}'" unless theme == 'default' %> class="padding-x-outside" role="banner">
  <nav class="display-flex display-flex-justify">
    <%= partial "partials/logo-jp" %>
    <ul class="gutter-wrapper gutter-narrow">
      <% data.site.main_nav.each do |item| %>
        <li class="display-inline-block gutter">
          <%= link_to item.label, item.url, class: 'display-inline-block t-accent t-link-undecorated t-scale-zeta' %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if show_intro == true %>
    <div class="margin-top-wide padding-bottom-xwide t-centered">
      <% if intro %>
        <div class="t-display t-scale-gamma"><%= render_markdown(intro) %></div>
      <% end %>
      <% if status %>
        <p class="t-display t-scale-delta c-text-tertiary margin-top-xxnarrow"><%= status %></p>
      <% end %>
      <% partial 'partials/button_link', locals: {
        url: '/about',
        classes: 'margin-top'
      } do %>
        A bit more about me &rsaquo;
      <% end %>
    </div>
  <% end %>
</header>
