---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';
import externalLink from '@icons/external-link.svg?raw';

// components
import Heading from '@components/blocks/Heading.astro';
import Icon from '@components/elements/Icon.astro';

// types
import { TitleField } from '@prismicio/types';

type Action = {
	label: string;
	url: string;
	type: 'external' | 'internal';
};

type Cover = {
	src: string,
	srcset: string,
}

export interface Props {
	actions?: Action[];
	class?: string;
	cover?: Cover;
	title?: TitleField;
	author?: TitleField;
}

const {
	actions,
	author,
	class: className = '',
	cover,
	title,
} = Astro.props as Props;
---

<article class={className}>
	<div class="wrapper">

		<!-- cover -->
		<figure class="cover">
			<slot name="cover">
				{cover
					? <img
							src={cover.src}
							srcset={cover.srcset}
							alt={`Cover for '${title}'`}
							class="cover-image"
						>
					: <div class="cover-image placeholder"></div>
				}
			</slot>
		</figure>

		<!-- title, author, etc. -->
		<header>
			<slot name="header">
				<Heading
					class="type-scale-delta"
					level={2}
					text={title}
				/>
				<Heading
					level={5}
					subheading
				>
					{author}
				</Heading>
			</slot>
		</header>

		<!-- book metadata -->
		<div class="metadata">
			<slot name="metadata"></slot>
		</div>

		<!-- actions -->
		{actions && (
			<footer class="actions">
				{actions.map(({label, url}) => (
					<a
						class="type-role-accent"
						href={url}
						target="_blank"
					>
						{label}
						<Icon
							size="small"
							margin="left"
							svg={externalLink}
						/>
					</a>
				))}
			</footer>
		)}
	</div>
</article>

<style>
	article {
	}

	article {
		--cover-size: 12em;

		container-type: inline-size;
	}

	.wrapper {
		align-items: start;
		display: grid;
		flex: 1;
		gap: var(--space-medium);
		grid-template-areas:
			'cover'
			'header'
			'metadata'
			'actions';
		grid-template-rows:
			200px
			repeat(3, auto);
		justify-items: start;
	}

	header {
		grid-area: header;
	}

	.cover {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		aspect-ratio: 1 / 1;
		grid-area: cover;
		align-self: stretch;
	}

	.cover-image {
		box-shadow: 0.5em 0.5em 0.3em var(--color-shadow);
		display: block;
		height: 100%;
	}

	.cover-image.placeholder {
		width: 100%;
		height: 100%;
		background-color: var(--color-well);
		box-shadow: 0;
	}

	.metadata {
		grid-area: metadata;
	}

	.actions {
		align-items: flex-end;
		display: flex;
		flex-direction: row;
		flex: 1;
		gap: var(--space-narrow);
		grid-area: actions;
	}

	@container (min-width: 28em) {
		.wrapper {
			align-items: start;
			gap: var(--space-xnarrow) var(--space-narrow);
			grid-template-areas:
				'cover header'
				'cover metadata'
				'cover actions';
			grid-template-columns: var(--cover-size) 1fr;
			grid-template-rows: auto;
			justify-items: stretch;
		}

		.cover {
			justify-content: center;
			align-self: start;
		}
	}
</style>
