---
// --- assets ---
import '@shared/styles/tokens/spacing.css';
import '@shared/styles/tokens/type.css';
import '@shared/styles/tokens/borders.css';
import '@shared/styles/utilities/type.css';
import '@shared/styles/utilities/borders.css';
import arrowRight from '@shared/icons/arrow-right.svg?raw';

// --- helpers ---
import { format } from 'date-fns';
import { linkResolver, fetchLinks } from '@shared/lib/routes';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@shared/lib/prismic';

// --- components ---
import LogoJPW from '@shared/components/logos/LogoJPW.astro';
import RenderedText from '@shared/components/elements/RenderedText.astro';
import Heading from '@shared/components/blocks/Heading.astro';
import RevealOnScroll from '@shared/components/meta/RevealOnScroll.astro';

// --- types ---
import { mainNavLink } from '@shared/lib/types';
import { LinkField } from '@prismicio/types';

type Item = {
	name: string;
	link: LinkField;
	attributes?: string;
};

// --- data ---

// footer content
const contentResponse = await prismic.getSingle('design_main_footer', {
	fetchLinks,
});

const {
	availability_note: availability,
	personal_site_note: personalSite,
	meta_links_title: metaTitle,
	meta_links,
} = contentResponse.data;

const metaLinks = meta_links.map((item) => {
	const { label, link } = item;

	return `
		<li>
			<a
				class="type-role-accent"
				href="${prismicHelpers.asLink(link, linkResolver)}"
			>
				${label}
			</a>
		</li>
	`;
});

const socialChannelsResponse = await prismic.getByUID(
	'social_channels_new',
	'social-channels-design',
);

const { channel } = socialChannelsResponse.data;

const socialChannelList = channel.map((item: Item) => {
	const { name, link, attributes } = item;

	return `
		<li>
			<a
				class="links-item | type-role-accent"
				href="${prismicHelpers.asLink(link)}"
				target="_blank"
				${attributes || ''}
			>
				${name}
			</a>
		</li>
	`.trim();
});

socialChannelList.join('');
---

<footer>
	<!-- Availability -->
	<RevealOnScroll
		tag="section"
		class="tier blurb type-role-accent"
	>
		<RenderedText markdown={prismicHelpers.asText(availability)} />
	</RevealOnScroll>

	<!-- Availability -->
	<RevealOnScroll
		tag="section"
		class="tier blurb type-role-accent"
	>
		<RenderedText markdown={prismicHelpers.asText(personalSite)} />
	</RevealOnScroll>

	<!-- Links -->
	<nav class="tier links">
		<!-- Social links -->
		<RevealOnScroll
			class="links-section social"
			tag="section"
		>
			<Heading
				class="type-scale-gamma"
				level={2}
			>
				Keep in touch
			</Heading>
			<ul
				class="links-list"
				role="list"
				set:html={socialChannelList}
			/>
		</RevealOnScroll>

		<!-- Meta links -->
		<RevealOnScroll
			class="links-section meta"
			tag="section"
		>
			<Heading
				class="type-scale-gamma"
				level={2}
			>
				{metaTitle}
			</Heading>
			<ul
				class="links-list"
				role="list"
				set:html={metaLinks}
			/>
		</RevealOnScroll>
	</nav>

	<!-- Copyright -->
	<RevealOnScroll
		tag="aside"
		class="tier signoff"
	>
		<a
			class="logo | type-link-undecorated"
			href="/"
		>
			<LogoJPW class="logo" />
		</a>
		<small class="copyright | type-role-accent type-scale-zeta">
			&copy; Copyright {format(new Date(), 'yyyy')} Jay Perry Works, all rights reserved.
		</small>
	</RevealOnScroll>
</footer>

<style>
	/* --- container  --- */
	footer {
		--spacing: var(--space-wide);

		background-color: var(--color-well);
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		gap: var(--space-wide);
		padding: var(--space-wide) var(--space-outside);
		position: relative;
	}

	footer :global(.tier) {
		margin-inline: auto;
		max-width: var(--content-width-xxwide);
		width: 100%;
	}

	/* --- about --- */
	footer :global(.blurb) {
		border-block-end: var(--border-default);
		padding-block-end: var(--spacing);
		line-height: var(--type-leading-default);
	}

	@container about (min-width: 24em) {
		.about-wrapper {
			--portrait-width: 6rem;

			display: grid;
			gap: var(--space-medium);
			grid-template-columns: var(--portrait-width) 1fr;
			grid-template-rows: auto;
			grid-template-areas: 'portrait blurb';
		}
	}

	@container about (min-width: 34em) {
		.about-wrapper {
			--portrait-width: 12rem;
		}
	}

	/* --- links --- */
	.links {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}

	.links :global(.links-list) {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xnarrow) var(--space-medium);
	}

	.link :global(.links-item) {
		flex: 1 0 20rem;
	}

	.links :global(.explore) {
		grid-area: explore;
	}

	.links :global(.social) {
		grid-area: social;
	}

	.links :global(.meta) {
		grid-area: meta;
	}

	/* --- signoff --- */
	footer :global(.signoff) {
		align-items: start;
		border-block-start: var(--border-default);
		display: flex;
		flex-flow: wrap;
		gap: var(--space-narrow);
		justify-content: space-between;
		overflow: hidden;
		padding-block-start: var(--spacing);
	}

	.logo {
		display: block;
		max-width: 12rem;
	}

	.copyright {
		display: flex;
		color: var(--color-secondary);
		align-items: center;
	}

	/* --- large screen layout --- */
	@media screen and (min-width: 54em) {
		footer :global(.links) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: 'social social meta';
		}
	}

	@media screen and (min-width: 90em) {
		footer :global(.links) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: 'social meta';
		}
	}
</style>
