---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
import '@styles/tokens/type.css';
import '@styles/tokens/borders.css';
import '@styles/utilities/type.css';
import '@styles/utilities/borders.css';
import feed from '@icons/feed.svg?raw';

// helpers
import { format } from 'date-fns';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';
import { linkResolver, fetchLinks } from '@lib/routes';

// components
import LogoJPW from '@components/logos/LogoJPW.astro';
import Button from '@components/elements/Button.astro';
import Icon from '@components/elements/Icon.astro';
import RevealOnScroll from '@components/layout/RevealOnScroll.astro';

// types
import { mainNavLink } from '@lib/types';
import { LinkField } from '@prismicio/types';

type Item = {
	name: string,
	link: LinkField,
	attributes?: string,
};

const response = await prismic.getSingle('main_nav', { fetchLinks });
const routes = response.data.nav_item.map(
	({ label, link }): mainNavLink => ({
		label,
		link: prismicHelpers.asLink(link, linkResolver),
	})
);

const socialChannels = await prismic.getSingle('social_channels');
const { channel } = socialChannels.data;


const socialChannelList = channel.map((item: Item): string => {
	const { name, link, attributes } = item;

	return `
		<li>
			<a
				class="type-role-accent"
				href="${prismicHelpers.asLink(link)}"
				target="_blank"
				${attributes || ''}
			>
				${name}
			</a>
		</li>
	`.trim();
}).join('');
---

<footer class="border-seam-top">
	<RevealOnScroll tag="nav">
		<ul>
			{routes.map(({ label, link }) => (
				<li>
					<a
						class="type-role-accent"
						href={link}
					>
						{label}
					</a>
				</li>
			))}
		</ul>
	</RevealOnScroll>
	<RevealOnScroll
		tag="section"
	>
		<h2 class="type-scale-gamma">Colophon</h2>
		<p>This site is typeset with Sanomat, Figtree, and Iowan Old Style. It was built with Astro, uses Prismic for content management, and is hosted by Netlify.</p>
		<Button href="/colophon" size="small">Read more</Button>
		<h2 class="type-scale-gamma">Privacy</h2>
		<p>I don't track you. This site uses no cookies or client-side tracking scripts.</p>
		<Button href="/privacy" size="small">Read more</Button>
		<!-- <ul>
			<li>
				<a
					class="type-role-accent"
					href="/colophon"
				>
					Colophon
				</a>
			</li>
			<li>
				<a
					class="type-role-accent"
					href="/privacy"
				>
					Privacy
				</a>
			</li>
		</ul> -->
	</RevealOnScroll>
	<RevealOnScroll tag="section">
		<h2 class="type-scale-gamma">Keep in touch</h2>
		<ul>
			<Fragment set:html={socialChannelList}>
			<li>
				<a
					class="type-role-accent"
					href="/rss/feed.xml"
					target="_blank"
				>
					RSS feed
					<Icon svg={feed} margin="left" />
				</a>
			</li>
		</ul>
	</RevealOnScroll>
	<RevealOnScroll
		tag="aside"
		class="signoff"
	>
		<div class="bookend">
			<div class="lockup">
				<a
					class="logo | type-link-undecorated"
					href="/"
				>
					<LogoJPW />
				</a>
				<small class="copyright | type-role-accent type-scale-zeta">
					&copy; Copyright {format(new Date(), 'yyyy')} Jay Perry Works, all rights reserved.
				</small>
			</div>
		</div>
	</RevealOnScroll>
</footer>

<style>
	footer {
		position: relative;
		padding-inline: var(--space-outside);
		flex-shrink: 0;
	}

	.social {
		border-block-end: var(--border-default);
		color: var(--color-secondary);
		display: block;
		line-height: var(--type-leading-default);
		max-width: none;
		padding-block: var(--space-medium);
	}

	.social > :global(a) {
		color: var(--color-primary);
		font-family: var(--type-font-accent);
		/* font-weight: 600; */
	}

	.signoff {
		padding-block: var(--space-medium);
		overflow: hidden;
	}

	.bookend {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		gap: var(--space-medium);
	}

	.lockup {
		display: flex;
		flex-flow: wrap;
		gap: var(--space-narrow);
	}

	.logo,
	.copyright {
		display: inline-block;
		vertical-align: top;
	}

	.copyright {
		color: var(--color-secondary);
		align-items: center;
	}

	.logo {
		width: 12rem;
	}

	.secondary {
		align-items: center;
		color: var(--color-secondary);
		display: flex;
		gap: var(--space-xnarrow);
	}
</style>
