---
// components
import Figure from '@components/blocks/Figure.astro';
import Image from '@components/elements/Image.astro';
import Gallery from '@components/layout/Gallery.astro';

// types
import type { SpaceScale, FormattedText, ImageFit } from '@lib/types';
import type { ImageField } from '@prismicio/types';

export interface Props {
	images: Array<ImageField>;
	attribution?: FormattedText;
	border?: boolean;
	caption?: FormattedText;
	columnSize?: 'small' | 'medium' | 'large';
	fitImages?: ImageFit;
	gutter?: SpaceScale;
}

const {
	images,
	attribution,
	border = false,
	caption,
	columnSize = 'medium',
	fitImages = 'default',
	gutter = 'xnarrow',
} = Astro.props as Props;
---

<Figure
	{caption}
	{attribution}
>
	<Gallery
		size={columnSize}
		{gutter}
	>
		{images.map((source) => (
			<li>
				<Image
					{border}
					{source}
					fit={fitImages}
				/>
			</li>
		))}
	</Gallery>
</Figure>

<style>
	li {
		text-align: center;
		font-size: 0;
	}

	li > :global(img) {
		display: block;
	}
</style>
