---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/elevation.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';

// utilities
import * as prismicHelpers from '@prismicio/helpers';

// components
import Gallery from '@components/layout/Gallery.astro';
import Passage from '@components/blocks/Passage.astro';
import Heading from '@components/blocks/Heading.astro';
import RevealOnScroll from '@components/layout/RevealOnScroll.astro';

// types
import {
	FormattedText,
	StickyNote,
} from '@lib/types';

import { TitleField } from '@prismicio/types';
import RenderedText from '@components/elements/RenderedText.astro';

export interface Props {
	notes: StickyNote[],
	title: TitleField,
	description?: FormattedText,
	subtitle?: TitleField,
}

const {
	notes,
	title,
	description,
	subtitle,
} = Astro.props as Props;
---

<section class="sticky-note-gallery">
	{prismicHelpers.isFilled.title(title) && (
		<Heading
			level={2}
			text={title}
		/>
	)}
	{prismicHelpers.isFilled.title(subtitle) && (
		<Heading
			level={4}
			text={subtitle}
			subheading
		/>
	)}
	{prismicHelpers.isFilled.richText(description) && (
		<Passage text={description} />
	)}
	<Gallery gutter="medium">
		{notes.map(({ shortStatement, extendedStatement }) => (
			<li class="sticky-note-item">
				<RevealOnScroll
					class="sticky-note-text | type-role-accent type-scale-epsilon"
					tag="p"
				>
					<strong><RenderedText markdown={shortStatement} inline={true} /></strong>
					{extendedStatement && (
						<RenderedText markdown={extendedStatement} inline={true} />
					)}
				</RevealOnScroll>
			</li>
		))}
	</Gallery>
</section>

<style>
	:global(.block.slide) .sticky-note-gallery {
		padding-block: var(--space-xwide);
	}

	.sticky-note-gallery {
		display: flex;
		flex-direction: column;
		gap: var(--space-medium);
	}

	.sticky-note-item {
		background-color: var(--color-island);
		border-radius: var(--border-radius);
		box-shadow: var(--elevation-low);
		padding: var(--space-medium);
	}

	.sticky-note-item :global(p) {
		text-wrap: balance;
	}
</style>
