---
// --- assets
import '@styles/tokens/color.css';
import '@styles/tokens/contentWidth.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';

// --- utils
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';

// --- components
import Heading from '@components/blocks/Heading.astro';
import BookCard from '@components/layout/BookCard.astro';
import Gallery from '@components/layout/Gallery.astro';
import MainNav from '@components/navigation/MainNav.astro';
import MainFooter from '@components/navigation/MainFooter.astro';
import BlockList from '@components/BlockList.astro';

// --- layout
import Layout from '@layouts/BaseLayout.astro';

// fetch data from Prismic
const pageData = await prismic.getByUID('index_page', 'bookshelf');

const {
	body,
	seo_description,
	seo_image,
	seo_title,
	short_title: shortTitle,
	subtitle,
	title,
} = pageData.data;

const seo = {
	description: seo_description,
	image: seo_image?.url,
	imageAlt: seo_image?.alt,
	title: seo_title || prismicHelpers.asText(title),
};

const booksResponse = await prismic.getAllByType('book', {
	orderings: {
		field: 'my.book.date_started',
		direction: 'desc',
	},
});

// try to fetch additional data from OpenLibrary
// const { isbn, olid } = booksResponse[4].data;

// books blob endpoint
function getBooksBlobEndpoint({ isbn, olid, type = 'data' }) {
	const paths = {
		data: 'books/data',
		covers: 'books/covers',
	};

	if (isbn) {
		return import.meta.env.PROD
			? `${import.meta.env.SITE}/${paths[type]}/isbn/${isbn}/`
			: `http://localhost:8888/${paths[type]}/isbn/${isbn}/`;
	}

	return import.meta.env.PROD
		? `${import.meta.env.SITE}/${paths[type]}/olid/${olid}/`
		: `http://localhost:8888/${paths[type]}/olid/${olid}/`;
}

const books = await Promise.all(booksResponse.map(async ({
	uid,
	tags,
	data,
}) => {
	const {
		author,
		isbn,
		olid,
		purchase_url: purchaseURL,
		related_content: relatedContent,
		title,
	} = data;

	// query the Open Library API with the book's ISBN number
	if (isbn || olid) {
		let bookData = {
			actions: [
				{
					label: 'Purchase',
					url: prismicHelpers.asLink(purchaseURL),
					type: 'external'
				},
			],
			tags: tags || [],
			author,
			relatedContent,
			title,
			uid,
		};

		const booksDataResponse = await fetch(getBooksBlobEndpoint({ isbn, olid }));

		if (booksDataResponse.status === 200) {
			const booksBlobData = await booksDataResponse.json();

			const {
				url: infoURL,
				publishDate,
				publishers,
			} = booksBlobData;

			bookData.publishers = publishers;
			bookData.publishDate = publishDate;

			bookData.cover = getBooksBlobEndpoint({
				isbn,
				olid,
				type: 'covers',
			});

			console.log(bookData.cover);

			bookData.actions.unshift({
				label: 'Open Library',
				url: infoURL,
				type: 'external'
			});

			return bookData;
		}

		// if the request to OL fails, just use the data we have from the CMS
		return bookData;
	}
}));
---

<Layout
	pageTitle={shortTitle}
	path="bookshelf"
	{seo}
>
	<MainNav segment="bookshelf" />
	<main>
		<header class="headline">
			<Heading
				align="center"
				level={1}
				text={title}
			/>
			{subtitle && (
				<Heading
					align="center"
					level={4}
					subheading
					text={subtitle}
				/>
			)}
		</header>

		<BlockList {body} showLedeStyle />

		<div class="wrapper">
			<Gallery gutter="wide">
				{books.filter((b) => b !== undefined).map((book) => (
					<li
						class="item"
						data-tags={book?.tags?.join(' ')}
						id={book.uid}
					>
						<BookCard
							title={book.title}
							author={book.author}
							cover={{ src: book.cover }}
							actions={book.actions}
						>
							{book.publishers && book.publishDate && (
								<p
									slot="metadata"
									class="metadata type-role-accent type-scale-zeta"
								>
									{[book.publishers[0], book.publishDate].join(', ')}
								</p>
							)}
						</BookCard>
					</li>
				))}
			</Gallery>
		</div>
	</main>
	<MainFooter />
</Layout>

<style>
	.headline,
	.wrapper {
		margin-inline: auto;
		padding-block-start: var(--space-xwide);
		padding-inline: var(--space-outside);
	}

	.headline {
		max-width: var(--content-width-wide);
		padding-block-end: var(--space-wide);
	}

	.wrapper {
		max-width: var(--content-width-xxwide);
		padding-block-end: var(--space-xwide);
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: var(--space-narrow);
	}
</style>
