---
// --- assets
import '@styles/tokens/color.css';
import '@styles/tokens/contentWidth.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';

// --- utils
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';
import { format } from 'date-fns';

// --- components
import Heading from '@components/blocks/Heading.astro';
import BookCard from '@components/layout/BookCard.astro';
import Gallery from '@components/layout/Gallery.astro';
import RevealOnScroll from '@components/layout/RevealOnScroll.astro';
import MainNav from '@components/navigation/MainNav.astro';
import MainFooter from '@components/navigation/MainFooter.astro';
import BlockList from '@components/BlockList.astro';

// --- layout
import Layout from '@layouts/BaseLayout.astro';

const pageData = await prismic.getByUID('index_page', 'bookshelf');

const {
	body,
	seo_description,
	seo_image,
	seo_title,
	short_title: shortTitle,
	subtitle,
	title,
} = pageData.data;

const seo = {
	description: seo_description,
	image: seo_image?.url,
	imageAlt: seo_image?.alt,
	title: seo_title || prismicHelpers.asText(title),
};

const booksResponse = await prismic.getAllByType('book', {
	orderings: {
		field: 'my.book.date_started',
		direction: 'desc',
	},
});

let books = await Promise.all(booksResponse.map(async ({
	uid,
	tags,
	data,
}) => {
	const {
		author,
		isbn,
		purchase_url: purchaseURL,
		related_content: relatedContent,
		title,
	} = data;

	// fields populated by Open Library
	let publishDate, publisher, cover, infoURL;

	// query the Open Library API with the book's ISBN number
	if (isbn) {
		const queryParams = {
			bibkeys: `ISBN:${isbn}`,
			format: 'json',
			jscmd: 'data',
		}
		const queryString = Object.keys(queryParams)
			.map((key) => `${key}=${queryParams[key]}`)
			.join('&');

		const openLibraryResponse = await fetch(`http://openlibrary.org/api/books?${queryString}`);
		const openLibraryData = await openLibraryResponse.json();

		const {
			publish_date,
			publishers,
			cover: coverList,
			url,
		} = openLibraryData[queryParams.bibkeys];

		publishDate = publish_date && format(new Date(publish_date), 'yyyy');
		cover = coverList && Object.values(coverList).pop();
		infoURL = url;

		publisher = publishers?.length > 0 && publishers[0].name;
	}

	return {
		actions: [
			{
				label: 'Purchase',
				url: prismicHelpers.asLink(purchaseURL),
				type: 'external'
			},
			{
				label: 'Open Library',
				url: infoURL,
				type: 'external'
			},
		],
		author,
		cover,
		publishDate,
		publisher,
		relatedContent,
		tags,
		title,
		uid,
	}
}));
---

<Layout
	pageTitle={shortTitle}
	path="bookshelf"
	{seo}
>
	<MainNav segment="bookshelf" />
	<main>
		<RevealOnScroll
			class="header"
			tag="header"
		>
			<Heading
				align="center"
				level={1}
				text={title}
			/>
			{subtitle && (
				<Heading
					align="center"
					level={4}
					subheading
					text={subtitle}
				/>
			)}
		</RevealOnScroll>

		<BlockList {body} showLedeStyle />

		<div class="wrapper">
			<Gallery gutter="wide">
				{books.map((book) => (
					<li
						class="item"
						data-tags={book.tags.join(' ')}
						id={book.uid}
					>
						<BookCard
							class="book"
							title={book.title}
							author={book.author}
							cover={{
								src: book.cover,
							}}
							actions={book.actions}
						>
							{book.publisher && book.publishDate && (
								<p
									slot="metadata"
									class="metadata type-role-accent type-scale-zeta"
								>
									{[book.publisher, book.publishDate].join(', ')}
								</p>
							)}
						</BookCard>
					</li>
				))}
			</Gallery>
		</div>
	</main>
	<MainFooter />
</Layout>

<style>
	.header,
	.wrapper {
		margin-inline: auto;
		padding-block-start: var(--space-xwide);
		padding-inline: var(--space-outside);
	}

	.header {
		max-width: var(--content-width-wide);
		padding-block-end: var(--space-wide);
	}

	.wrapper {
		max-width: var(--content-width-xxwide);
		padding-block-end: var(--space-xwide);
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: var(--space-narrow);
	}

	.book {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: var(--space-narrow);
	}

	.cover {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		padding-block-end: var(--space-narrow);
	}

	.cover-image {
		display: block;
		height: auto;
		height: 100%;
		box-shadow: 0.5em 0.5em 0.3em var(--color-shadow);
	}

	.cover-image.placeholder {
		width: 100%;
		height: 100%;
		background-color: var(--color-color-well);
		box-shadow: 0;
	}

	.metadata {
		color: var(--color-secondary);
	}

	.actions {
		align-items: flex-end;
		display: flex;
		flex-direction: row;
		flex: 1;
		gap: var(--space-narrow);
	}
</style>
