---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/contentWidth.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/borders.css';
import '@styles/utilities/type.css';
import arrowRight from '@icons/arrow-right.svg?raw';

// utils
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';
import { linkResolver, fetchLinks } from '@lib/routes';

// components
import Layout from '@layouts/BaseLayout.astro';
import BlockList from '@components/BlockList.astro';
import Button from '@components/elements/Button.astro';
import Heading from '@components/blocks/Heading.astro';
import Passage from '@components/blocks/Passage.astro';
import MainNav from '@components/navigation/MainNav.astro';
import MainFooter from '@components/navigation/MainFooter.astro';

// fetch content
const response = await prismic.getSingle('homepage', { fetchLinks });

const {
	headline,
	intro,
	intro_link: link,
	seo_title,
	seo_description,
	seo_image,
	body,
} = response.data;

const introLink = prismicHelpers.asLink(link, linkResolver);
const seo = {
	description: seo_description,
	image: seo_image?.url,
	imageAlt: seo_image?.alt,
	title: seo_title,
};
---

<Layout {seo}>
	<MainNav segment='home' />

	<main>
		<!-- intro -->
		<section class="cover">
			<div class="intro">
				<Heading
					level={1}
					text={headline}
				/>
				<Passage
					text={{ prismicText: intro }}
					typeSize="delta"
				/>
				<div class="intro-cta">
					<Button
						href={introLink}
						iconRight={arrowRight}
					>
						A bit more about me
					</Button>
				</div>
			</div>
		</section>

		<section style="
			margin-inline: auto;
			padding-block: var(--space-wide);
			max-width: var(--content-width-default);
		">
			<Passage text={{
				markdown: 'Here is a _footnote_ test[^1] **and** another [^2].\n\n[^1]: The note.\n\n[^2]: Another note.'
// 				`
// A note[^1]

// [^1]: Big note.
// `;
			}} />
		</section>

		<!-- TOC panels -->
		<section id="toc">
			<BlockList {body} numbered />
		</section>
	</main>
	<MainFooter showAboutSection={false} />
</Layout>

<style>
	.cover {
		padding-block: var(--space-xwide);
		padding-inline: var(--space-outside);
	}

	.intro {
		align-items: center;
		display: grid;
		flex: 1;
		gap: var(--space-medium);
		grid-template-rows: 1fr auto;
		margin-inline: auto;
		max-width: var(--content-width-xxwide);
	}

	.intro > :global(* + *) {
		padding-block-start: var(--space-medium);
	}

	.intro :global(p + p) {
		margin-block-start: var(--space-xnarrow);
	}

	.intro-cta {
		padding-block-start: var(--space-wide);
	}

	.toc {
		list-style: none;
		padding-inline-start: 0;
	}
</style>
