---
// assets
import '@styles/tokens/contentWidth.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/borders.css';
import '@styles/utilities/type.css';
import arrowDown from '@icons/arrow-down.svg?raw';
import arrowRight from '@icons/arrow-right.svg?raw';

// utils
import { linkResolver, blogPost } from '@lib/routes';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';

// components
import Button from '@components/elements/Button.astro';
import Heading from '@components/blocks/Heading.astro';
import Icon from '@components/elements/Icon.astro';
import Image from '@components/elements/Image.astro';
import Layout from '@layouts/BaseLayout.astro';
import Passage from '@components/blocks/Passage.astro';

// types
import { RichTextField, Slice } from '@prismicio/types';

interface TOCItem {
	type: string;
	title: string,
	subtitle: string,
	cta: {
		link: string;
		label: string;
	};
	description: {
		prismicText: RichTextField;
	};
}

// fetch content
const response = await prismic.getSingle('homepage');

const {
	headline,
	intro,
	body,
} = response.data;

let introLink = await prismicHelpers.asLink(response.data.intro_link, linkResolver);

const toc = await Promise.all(
	body.map(async ({ slice_type: type, primary, items }) => {
		const link = primary.call_to_action_link
			&& await prismicHelpers.asLink(primary.call_to_action_link, linkResolver);

		const coverImages = (type === 'billboard') && {
			gutter: primary.cover_images_gutter,
			images: items.map((item) => ({
				source: item.cover_image,
				device: item.device,
				relativeSize: item.relative_size,
			})),
		};

		const feedData = primary.content_source && await prismic.getByType('blog_post', {
			pageSize: 8,
		});

		const feedItems = feedData?.results.length > 0 && feedData.results.map(({ uid, data }) => ({
			date: data.date,
			path: blogPost({ uid, data }),
			subtitle: data.subtitle && prismicHelpers.asText(data.subtitle),
			title: prismicHelpers.asText(data.title),
			}));

		return {
			type,
			title: prismicHelpers.asText(primary.title || primary.title1),
			subtitle: prismicHelpers.asText(primary.subtitle),
			cta: {
				link,
				label: primary.call_to_action_label,
			},
			description: {
				prismicText: primary.description
			},
			feedItems,
			coverImages,
		};
	})
);
---

<Layout path="home" headerOverlay>

	<!-- intro -->
	<header class="panel">
		<div class="fill-vertical">
			<div class="intro wrapper">
				<Heading level={1}>{prismicHelpers.asText(headline)}</Heading>
				<Passage
					text={{ prismicText: intro }}
					typeSize="delta"
					class="blurb"
				/>
				<Button
					class="intro-cta"
					href={introLink}
					iconRight={arrowRight}
				>
					A bit more about me
				</Button>
			</div>
		</div>
		<div class="toc-link">
			<a
				class="type-role-accent type-scale-epsilon type-link-undecorated"
				href="#toc"
			>
				<Icon
					align="baseline"
					margin="right"
					svg={arrowDown}
				/>
				Table of contents
			</a>
		</div>
	</header>

	<!-- TOC panels -->
	<section id="toc">
		{toc.map((item, index) => (
			<article class="toc-item | panel | border-seam-top">
				<div class="wrapper flex | billboard">
					{/* https://bobbyhadz.com/blog/javascript-pad-number-with-leading-zeros */}
					<div class="billboard-item content">
						<Heading level={3} subheading>{String(index + 1).padStart(2, '0')}</Heading>
						<Heading level={2}>{item.title}</Heading>
						{item.subtitle && (
							<Heading subheading level={3}>{item.subtitle}</Heading>
						)}
						<Passage
							class="blurb"
							text={item.description}
						/>
						<Button
							href={item.cta.link}
							iconRight={arrowRight}
						>
							{item.cta.label}
						</Button>
					</div>
					{item.type === 'billboard'
						&& item.coverImages?.images?.length > 0
						&& (
							<figure class="billboard-item figure">
								{item.coverImages.images.map(({ source }) => (
									source && <Image {source} />
								))}
							</figure>
						)
					}
					{item.type === 'feed' && (
						<ul>
							{item.feedItems.map((listing) => (
								<li>
									<h3><a href={listing.path}>{listing.title}</a></h3>
								</li>
							))}
						</ul>
					)}
				</div>
			</article>
		))}
	</section>
</Layout>

<style>
	.panel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: var(--space-medium);
		min-height: 100vh;
		padding-inline: var(--space-outside);
	}

	header {
		padding-top: var(--space-wide);
	}

	.intro > :global(* + *) {
		padding-top: var(--space-medium);
	}

	.panel :global(.blurb) {
		font-family: var(--type-font-display);
		font-size: var(--type-scale-delta);
		line-height: var(--type-leading-default);
	}

	.toc-item {
		padding-block: var(--space-wide);
	}

	.intro :global(.intro-cta) {
		margin-top: var(--space-wide);
	}

	.toc-link {
		margin-top: auto;
		margin-inline: auto;
		width: var(--content-width-xwide);
		padding-block-end: var(--space-narrow);
	}

	.wrapper {
		margin-inline: auto;
		max-width: var(--content-width-xwide);
	}

	.wrapper.flex {
		max-width: var(--content-width-xwide);
		width: 100%;
	}

	.fill-vertical {
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
	}

	.billboard {
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		align-items: center;
		overflow: hidden;
	}

	.billboard-item {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.billboard-item.content {
		flex: 0 1 40ch;
	}

	.billboard-item.figure {
		flex: 1 1 20rem;
	}
</style>
