---
// assets
import '@styles/tokens/spacing.css';

// helpers
import prismic from '@lib/prismic';
import * as prismicHelpers from '@prismicio/helpers';
import linkResolver from '@lib/linkResolver';

// components
import Button from '@components/elements/Button.astro';
import Heading from '@components/blocks/Heading.astro';
import Layout from '@layouts/BaseLayout.astro';
import RenderedText from '@components/elements/RenderedText.astro';

// fetch content
const response = await prismic.getSingle('homepage', { 'fetchLinks': 'date' });

const {
	headline,
	intro,
	intro_link: introLink,
	body,
} = response.data;

const toc = body.map(({ slice_type: type, primary, items }) => ({
	type,
	title: prismicHelpers.asText(primary.title || primary.title1),
	subtitle: prismicHelpers.asText(primary.subtitle),
	cta: {
		link: primary.call_to_action_link,
		label: primary.call_to_action_label,
	},
	description: {
		prismicText: primary.description
	},
	coverImages: {
		gutter: primary.cover_images_gutter,
		images: items,
	}
}));

console.log('intro link', introLink)
---

<Layout path="home">
	<header>
		<Fragment set:html={prismicHelpers.asHTML(headline)}></Fragment>
		<Fragment set:html={prismicHelpers.asHTML(intro)}></Fragment>
		<Button href={prismicHelpers.asLink(introLink)}>A bit more about me</Button>
	</header>
	{toc.map((item) => (
		<article>
			<Heading level={2}>{item.title}</Heading>
			{item.subtitle && (
				<Heading subheading level={3}>{item.subtitle}</Heading>
			)}
			<RenderedText {...item.description} />
			<Button href={prismicHelpers.asLink(item.cta.link)}>
				{item.cta.label}
			</Button>
		</article>
	))}
</Layout>
