---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/type.css';
import '@styles/utilities/borders.css';
import '@styles/utilities/type.css';

// utilities
import { arrayToSentence, removeWidows } from '@lib/stringHelpers';
import { format } from 'date-fns';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';

// components
import BlockList from '@components/BlockList.astro';
import Image from '@components/elements/Image.astro';
import Figure from '@components/blocks/Figure.astro';
import Heading from '@components/blocks/Heading.astro';
import DataGrid from '@components/layout/DataGrid.astro';
import Gallery from '@components/layout/Gallery.astro';
import PictureGallery from '@components/navigation/PictureGallery.astro';

// layout
import Layout from '@layouts/BaseLayout.astro';

// types
import { PrismicDocumentWithUID } from '@prismicio/types';

export async function getStaticPaths() {
 	const pictures = await prismic.getAllByType('picture', {
		orderings: {
			field: 'my.picture.date_completed',
			direction: 'desc',
		},
		graphQuery: `
			{
				picture {
					...pictureFields
					series {
						...on picture_series {
							uid
							title
						}
					}
					media {
						medium {
							...on picture_medium {
								...picture_mediumFields
							}
						}
					}
					substrate {
						...on picture_substrate {
							name
						}
					}
					editions {
						...editionsFields
						size {
							...on print_size {
								...print_sizeFields
								print_type {
									...on print_type {
										...print_typeFields
									}
								}
							}
						}
					}
				}
			}
		`,
	});

 	return pictures.map(({ uid, data }, index) => {
		const date = prismicHelpers.asDate(data.date_completed);

		const editions = data.editions.map((edition) => {
			const {
				etsy_link: etsyLink,
				image,
				limit,
				name,
				size,
			} = edition;

			const {
				border,
				short_side: shortSide,
				long_side: longSide,
				print_type: printType,
			} = size.data;

			const dimensions = data.orientation === 'horizontal'
				? [ longSide, shortSide ]
				: [ shortSide, longSide ];

			return {
				etsyLink,
				image,
				limit,
				name,
				type: prismicHelpers.asText(printType.data.name),
				info: [
					{
						label: 'Type',
						value: prismicHelpers.asText(printType.data.name),
					},
					{
						label: 'Size',
						value: dimensions.map(side => `${side}"`).join(' x '),
					},
					{
						label: 'Paper size',
						value: dimensions.map(side => `${side + (border * 2)}"`).join(' x '),
					},
				],
			};
		});

		const seriesUID = data.series?.data?.uid;
		const seriesPictures = pictures.filter((pic) => (
				pic.data.series?.data?.uid === seriesUID && pic.uid !== uid
			));
		const { width, height } = seriesPictures[0].data.cover.dimensions;

		const nav = {
			title: data.series?.data?.title || undefined,
			aspectRatio: `${width} / ${height}`,
			pictures: seriesPictures,
		};

 		return {
 			params: {
 				year: format(date, 'yyyy'),
 				month: format(date, 'MM'),
 				uid,
 			},
 			props: {
 				...data,
				editions,
				nav,
 			},
 		};
 	});
}

const {
	body,
	cover,
	date_completed: dateCompleted,
	editions,
	height,
	media,
	nav,
	series,
	substrate,
	title,
	width,
} = Astro.props;

const date = prismicHelpers.asDate(dateCompleted);

function createMediaString() {
	// convert the list of media to a sentence
	let string = arrayToSentence(
		media.map(({ medium }) => (medium.data.name)),
		{ period: false }
	);

	// add the substrate as a suffix
	if (prismicHelpers.isFilled.link(substrate)) {
		string += ` on ${substrate.data.name.toLowerCase()}`;
	}

	if (width && height) {
		string += `&nbsp;&bull;&nbsp;${width} x ${height}`;
	}

	return string;
}
---

<Layout path="pictures">
	<header>
		<Figure source={cover} fit="cover" />
		<div class="info">
			<Heading level={1} text={title} />
			<time datetime={date.toString()}>{format(new Date(date), 'yyyy')}</time>
			{prismicHelpers.isFilled.group(media) && <p set:html={createMediaString()}></p>}
		</div>
	</header>

	<BlockList {body} />

	<!-- editions -->
	<section class="editions | border-seam-top">

		<Heading level={2}>{removeWidows('Available editions')}</Heading>
		<Gallery
			size="large"
			gutter="wide"
		>
			{editions.map((edition) => (
				<li class="edition-item">
					<Heading level={3}>{removeWidows(`${edition.name} ${edition.type.toLowerCase()} print`)}</Heading>
					<Image source={edition.image} />
					<DataGrid
						data={edition.info}
						gutter="narrow"
						columnWidth={6}
					/>
				</li>
			))}
		</Gallery>
	</section>

	<nav class="border-seam-top | footer-nav">
		{prismicHelpers.isFilled.link(series)
			? <Heading level={3} class="type-role-accent">
					More work from the <strong>{prismicHelpers.asText(nav.title)}</strong>&nbsp;series
				</Heading>
			: <Heading level={3} class="type-role-accent">More work</Heading>
		}
		<PictureGallery
			aspectRatio={nav.aspectRatio}
			list={nav.pictures as PrismicDocumentWithUID[]}
		/>
	</nav>
</Layout>

<style>
	header {
		margin-block-end: var(--space-wide);
	}

	.editions,
	nav {
		padding: var(--space-wide) var(--space-outside);
		margin-block-start: var(--space-wide);
	}

	nav > :global(* + *) {
		padding-block-start: var(--space-medium);
	}

	.editions-item > :global(* + *) {
		padding-block-start: var(--space-narrow);
	}
</style>
