---
// utils
import { camelCase } from 'change-case';
import * as prismicHelpers from '@prismicio/helpers';

// components
import Block from '@components/Block.astro';

// types
import type { Block as BlockType } from '@lib/types.ts';
import type { Slice } from '@prismicio/types';

export interface Props {
	body: Array<Slice>;
	showLedeStyle?: boolean;
	class?: string;
}

const {
	body,
	showLedeStyle = false,
	class: className = '',
} = Astro.props as Props;

// assign a class to certain block types to determine spacing between sibling blocks
function getBlockClass(type: string): string {
	const classes = {
		passage: 'block-passage',
		blockQuote: 'block-passage',
		heading: 'block-heading',
		aside: 'block-passage',
	};

	if (classes[type]) {
		return classes[type];
	}

	return '';
}

function sharedBlockFields(slice: Slice): BlockType {
	const {
		include_in_excerpt: includeInExcerpt,
		prominence,
	} = slice.primary;

	return {
		includeInExcerpt,
		prominence,
		type: camelCase(slice.slice_type),
	};
}

// --- block types ---
function figure(slice: Slice): BlockType {
	const { image, caption, attribution } = slice.primary;

	return {
		source: image,
		attribution: attribution && {
			markdown: attribution,
		},
		caption: caption.length > 0 && {
			markdown: prismicHelpers.asText(caption)
		},
		...sharedBlockFields(slice),
	};
}

function imageGallery(slice: Slice): BlockType {
	const {
		attribution,
		caption,
		column_size: columnSize,
	} = slice.primary;

	return {
		attribution: attribution && {
			markdown: attribution
		},
		caption: caption.length > 0 && {
			markdown: prismicHelpers.asText(caption)
		},
		columnSize,
		images: slice.items.map((item) => item.image),
		...sharedBlockFields(slice),
	}
}

function passage(slice: Slice): BlockType {
	const {
		structured_text: prismicText,
		markdown,
	} = slice.primary;

	return {
		text: {
			prismicText,
			markdown: prismicHelpers.asText(markdown)
		},
		...sharedBlockFields(slice),
	};
}

function aside(slice: Slice): BlockType {
	const {
		structured_text: prismicText,
		markdown,
		label,
	} = slice.primary;

	return {
		label,
		text: {
			prismicText,
			markdown: prismicHelpers.asText(markdown)
		},
		...sharedBlockFields(slice),
	};
}

function blockQuote(slice: Slice): BlockType {
	console.log(slice.slice_type)
	const {
		structured_text: prismicText,
		markdown,
	} = slice.primary;

	slice.slice_type = 'blockQuote';

	return {
		text: {
			prismicText,
			markdown: prismicHelpers.asText(markdown)
		},
		...sharedBlockFields(slice),
	};
}

const blockTypes = {
	figure,
	passage,
	'image_gallery': imageGallery,
	aside,
	'quote': blockQuote,
};

// --- build an array of blocks, sorted into sections ---
const sectionList = body.reduce((result: Array<BlockType>, slice: Slice, index: number) => {
	const {
		slice_type: type,
		primary,
	} = slice;

	// if the block is a section, then add a new section to the array
	if (type === 'sectionStart') {
		result.push({
			uid: primary.uid,
			blocks: []
		});
		return result;
	}

	// if the first blocks are outside a section, then make a generic div
	if (result.length === 0 && type !== 'sectionStart') {
		result.push({ blocks: [] });
	}

	// add the block object to the last 'section' array item
	// if it matches one of the available types
	if (blockTypes[type]) {
		const block = blockTypes[type](slice);
		result[result.length - 1].blocks.push(block);
	}
	return result;
}, []);
---

<div class={[
	'block-list',
	showLedeStyle ? 'lede' : '',
	className,
].join(' ')}>
	{sectionList.map(({ uid, blocks }) => (
		uid ? (
			<section id={uid}>
				{blocks.map((block) => (
					<Block class={getBlockClass(block.type)} {block} />
				))}
			</section>
		) : blocks.map((block) => (
			<Block class={getBlockClass(block.type)} {block} />
		))
	))}
</div>

<style>
	.block-list > :global(* + *) {
		padding-block-start: var(--space-wide);
	}

	.block-list :global(.block-heading + .block-passage) {
    padding-top: var(--space-narrow);
  }

	/* when two sections of type follow one another, add "invisible" spacing between so they feel like one continuous flow of text */
  .block-list :global(.block-passage + .block-passage) {
    padding-top: var(--space-medium);
  }

	.lede :global(.block-passage p:first-child) {
		font-size: var(--type-scale-delta);
		font-family: var(--type-font-display);
	}

	.lede :global(.block-passage ~ .block-passage p:first-child) {
		font-size: unset;
		font-family: unset;
	}
</style>
