---
// assets
	import '@styles/tokens/color.css';

	// components
	import Image from '@components/elements/Image.astro';

	// types
	import type { ImageField } from '@prismicio/types';

	import type {
		CSSVariable,
		HexColor,
		HSLColor,
	} from '@lib/types';

	export interface Props {
		source: ImageField,
		class?: string,
		matte?: CSSVariable | HexColor | HSLColor,
	};

	const {
		source,
		class: className,
		matte,
	} = Astro.props as Props;

	const aspectRatio = `${source.dimensions.width} / ${source.dimensions.height}`;

	const classList = [
		'frame',
		className,
	].join(' ');

	const styleList = [
		`--aspect-ratio: ${aspectRatio}`,
		matte ? `--matte-color: ${matte};` : '',
	].join(';');
---

<div
	class={classList}
	style={styleList}
>
	<Image
		{source}
		class="picture"
	/>
</div>

<style>
	.frame {
		--frame-color: var(--color-primary);
		--frame-thickness: 0.25em;
		--shadow-color: var(--color-shadow);
		--matte-color: var(--color-island, #fff);
		--matte-thickness: 12%;

		align-items: center;
		aspect-ratio: var(--aspect-ratio);
		background-color: var(--matte-color);
		border: var(--frame-thickness) solid var(--frame-color);
		box-shadow: 0 0.25em 0.5em var(--color-shadow);
		display: grid;
		grid-template-columns: var(--matte-thickness) 1fr var(--matte-thickness);
		grid-template-rows: var(--matte-thickness) 1fr var(--matte-thickness);
		justify-content: center;
	}

	.picture {
		display: block;
		grid-area: 2 / 2;
		margin: auto;
	}
</style>
