---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';
import arrowRight from '@icons/arrow-right.svg?raw';

// components
import Icon from '@components/elements/Icon.astro';

export interface Props {
	link: string;
	title: string;
	eyebrow?: string;
	icon?: string;
}

const {
	link,
	eyebrow,
	title,
	icon = arrowRight,
} = Astro.props as Props;
---

<p class="next">
	{eyebrow && (
		<a
			class="eyebrow | type-role-accent"
			href={link}
		>
			{eyebrow}
		</a>
	)}
	<span class="title | type-role-display type-scale-gamma">
		<a href={link}>{title}</a>
	</span>
	<Icon svg={icon} size="large" class="icon" />
</p>

<style>
	.next {
		align-items: start;
		display: inline-grid;
		gap: 0 var(--space-medium);
		grid-template-areas:
			'eyebrow .'
			'title icon';
		grid-template-columns: minmax(0, 1fr) 1.44em;
		grid-template-rows: auto;
		justify-items: start;
		transition: 0.25s color ease;
		will-change: color;
	}

	.next:hover {
		color: var(--color-highlight);
	}

	.eyebrow {
		border: 0;
		display: inline-block;
		font-weight: 200;
		grid-area: eyebrow;
	}

	.title {
		display: block;
		grid-area: title;
	}

	.next :global(.icon) {
		grid-area: icon;
		margin: 0;
	}
</style>
