---
/**
 * Top-level page template
 *
 * @param {object[]} body - the body blocks of the page
 * @param {string} title
 * @param {SEOContent} [seo] - SEO/metadata fields
 * @param {ThemeNames | Partial<Theme>} [theme] - color theme
 */

// --- assets ---
import '@shared/styles/tokens/spacing.css';

// --- utils ---
import fetchContent from '@shared/lib/fetchContent';

// --- helpers ---
import { fetchLinks } from '@shared/lib/routes';
import { titleCase } from '@shared/lib/stringHelpers';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@shared/lib/prismic';

// --- components ---
import Layout from '@local/layouts/Layout.astro';
import BlockList from '@shared/components/BlockList.astro';
import Heading from '@shared/components/blocks/Heading.astro';
import MainNav from '@local/components/navigation/MainNav.astro';
import MainFooter from '@local/components/navigation/MainFooter.astro';

// --- types ---
import { SEOContent, Theme, ThemeNames } from '@shared/lib/types';

// --- data & pagination ---
// fetch data from content server
const response = await fetchContent('about', { env: 'dev' });
console.log(response);

export async function getStaticPaths(): Promise<Function> {
	const pages = await prismic.getAllByType('page', { fetchLinks });

	return pages.reduce((result, { uid, data }) => {
		const { body, seo_description, seo_image, seo_title, title, theme } = data;

		const site = data.site || 'Personal';

		if (site === 'Design') return result;

		const seo = {
			description: seo_description,
			image: seo_image?.url,
			imageAlt: seo_image?.alt,
			title: seo_title || prismicHelpers.asText(title),
		};

		result.push({
			params: {
				uid,
			},
			props: {
				body,
				seo,
				theme,
				title,
			},
		});

		return result;
	}, []);
}

// --- props ---
const { body, seo, subtitle, theme, title } = Astro.props;
const { uid } = Astro.params;
---

<Layout
	pageTitle={titleCase(uid)}
	{seo}
	{theme}
>
	<MainNav segment={uid} />
	<main id="main">
		<article>
			<header class="title">
				<Heading
					level={1}
					text={title}
				/>
				{
					subtitle && (
						<Heading
							class="type-scale-gamma"
							text={subtitle}
							subheading
						/>
					)
				}
			</header>
			<BlockList
				{body}
				showLedeStyle
			/>
		</article>
	</main>
	<MainFooter />
</Layout>

<style>
	article {
		padding-block: var(--space-xwide);
	}

	.title {
		padding-block-end: var(--space-wide);
		padding-inline: var(--space-outside);
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: var(--space-narrow);
	}
</style>
