---
/**
 * Top-level page template
 *
 * @param {object[]} body - the body blocks of the page
 * @param {string} title
 * @param {SEOContent} [seo] - SEO/metadata fields
 * @param {ThemeNames | Partial<Theme>} [theme] - color theme
 */

// --- assets ---
import '@shared/styles/tokens/spacing.css';

// --- utils ---
import fetchContent from '@shared/lib/fetchContent';

// --- helpers ---
import { fetchLinks } from '@shared/lib/routes';
import { titleCase } from '@shared/lib/stringHelpers';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@shared/lib/prismic';

// --- components ---
import Layout from '@local/layouts/Layout.astro';
import BlockList from '@local/components/BlockList.astro';
import Heading from '@local/components/blocks/Heading.astro';
import MainNav from '@local/components/navigation/MainNav.astro';
import MainFooter from '@local/components/navigation/MainFooter.astro';

// --- types ---
import { SEOContent, Theme, ThemeNames } from '@shared/lib/types';

// --- data & pagination ---
// fetch data from content server

export async function getStaticPaths(): Promise<Function> {
	const pages = await fetchContent('pages', { env: 'dev' });

	return pages.reduce((result, page) => {
		const { body, colorTheme: theme, seo, sites, title, uuid: uid } = page;

		if (!sites.includes('personal')) return result;

		result.push({
			params: {
				uid,
			},
			props: {
				body,
				seo,
				theme,
				title,
			},
		});

		return result;
	}, []);
}

// --- props ---
const { body, seo, subtitle, theme, title } = Astro.props;
const { uid } = Astro.params;
---

<Layout
	pageTitle={titleCase(uid)}
	{seo}
	{theme}
>
	<MainNav segment={uid} />
	<main id="main">
		<article>
			<header class="title">
				<Heading
					level={1}
					text={title}
				/>
				{
					subtitle && (
						<Heading
							class="type-scale-gamma"
							text={subtitle}
							subheading
						/>
					)
				}
			</header>
			<!-- <BlockList
				{body}
				showLedeStyle
			/> -->
		</article>
	</main>
	<MainFooter />
</Layout>

<style>
	article {
		padding-block: var(--space-xwide);
	}

	.title {
		padding-block-end: var(--space-wide);
		padding-inline: var(--space-outside);
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: var(--space-narrow);
	}
</style>
