---
// --- assets ---
import '@shared/styles/tokens/contentWidth.css';
import '@shared/styles/tokens/spacing.css';
import '@shared/styles/utilities/type.css';
import collapse from '@shared/icons/collapse.svg?raw';
import expand from '@shared/icons/expand.svg?raw';

// --- types ---
/**
 * @typedef {object} Book
 * @property {string} author
 * @property {string[]} tags - category/genre tags
 * @property {string} title
 * @property {string} uuid - unique, url-safe ID string
 * @property {object[]} [covers] - list of available cover images
 * @property {string} [isbn]
 * @property {object} [links] - urls to key links
 * @property {string} [links.purchase] - link to purchase the book, usually Bookshop.org
 * @property {string} [links.info] - link to info about the book, usually OpenLibrary
 * @property {string} [olid] - OpenLibrary ID number
 */

// --- utils ---
import fetchContent from '@shared/lib/fetchContent';

// --- components ---
import Aside from '@shared/components/blocks/Aside.astro';
import Button from '@shared/components/elements/Button.astro';
import Pill from '@shared/components/elements/Pill.astro';
import Heading from '@shared/components/blocks/Heading.astro';
import Passage from '@local/components/blocks/Passage.astro';
import BookCard from '@shared/components/layout/BookCard.astro';
import Gallery from '@shared/components/layout/Gallery.astro';
import MainFooter from '@local/components/navigation/MainFooter.astro';
import MainNav from '@local/components/navigation/MainNav.astro';
import BlockList from '@local/components/BlockList.astro';

// --- layout ---
import Layout from '@local/layouts/Layout.astro';

// fetch data from content server
const response = await fetchContent('books');
const { body, colorTheme, seo, series, subtitle, title } = response;
const { preset: name, customBase: hue, customThemes: custom } = colorTheme;

// build an array of all the tags used in all the books
const tags = aggregateBookTags(series);

/**
 * Gather all unique tags used in an array of books
 *
 * @function
 * @param {Object[]} series - book series data to process
 * @param {Book[]} series.books - books in the series
 * @returns {string[]} - list of tags
 */
function aggregateBookTags(series) {
	return series
		.reduce((result, { books }) => {
			for (const book of books) {
				for (const tag of book.tags) {
					if (!result.includes(tag)) result.push(tag);
				}
			}

			return result;
		}, [])
		.sort((a, b) => a.localeCompare(b));
}
---

<Layout
	pageTitle={title}
	path="bookshelf"
	theme={{
		custom,
		hue,
		name,
	}}
	{seo}
>
	<MainNav segment="bookshelf" />
	<main id="main">
		<header class="headline">
			<Heading
				align="center"
				level={1}
			>
				{title}
			</Heading>
			{
				subtitle && (
					<Heading
						align="center"
						level={4}
						subheading
					>
						{subtitle}
					</Heading>
				)
			}
		</header>

		<BlockList
			{body}
			showLedeStyle
		/>

		<div class="wrapper">
			<jp-filter-and-sort>
				<template id="controls">
					<div class="expanding-filter">
						<Button
							as="button"
							class="expanding-filter-button"
							iconLeft={{ default: expand, toggled: collapse }}
							size="medium"
						>
							Tags
						</Button>
						<ul
							class="tags"
							hidden
						>
							{
								tags.map((tag) => (
									<li class="tag-item">
										<Pill
											data={{ tag }}
											label={tag}
										/>
									</li>
								))
							}
						</ul>
					</div>
				</template>

				<template id="empty">
					<Aside
						class="empty"
						hidden
					>
						<Passage>
							Sorry, I haven't read any books yet with all of those tags.
						</Passage>
					</Aside>
				</template>

				<div class="books">
					{
						series.map((series) => (
							<section
								class="section"
								id={series.uuid && series.uuid.split('/').pop()}
								data-tags={series?.tags?.join(', ')}
							>
								{series.title && (
									<Heading
										align="center"
										class="type-scale-gamma"
									>
										<span class="series-label">Series:</span> {series.title}
									</Heading>
								)}
								<Gallery gutter="xnarrow">
									{series.books
										.filter((b) => b !== undefined)
										.map((book) => (
											<li
												class="item"
												data-series={book?.series}
												data-tags={book?.tags?.join(', ')}
												id={book.uid}
											>
												<BookCard
													author={book.author}
													cover={book.covers?.[0]}
													links={book.links}
													title={book.title}
												>
													{book.publishers && book.publishDate && (
														<p
															slot="metadata"
															class="metadata type-role-accent type-scale-zeta"
														>
															{[book.publishers[0], book.publishDate].join(
																', ',
															)}
														</p>
													)}
												</BookCard>
											</li>
										))}
								</Gallery>
							</section>
						))
					}
				</div>
			</jp-filter-and-sort>
		</div>
	</main>
	<MainFooter />
</Layout>

<script>
	class FilterAndSort extends HTMLElement {
		#activeTags = [];
		#items = [];
		#series = [];
		#emptyMessage;

		connectedCallback() {
			const controls = this.querySelector('#controls');
			this.prepend(controls.content);

			const empty = this.querySelector('#empty');
			this.append(empty.content);
			this.#emptyMessage = this.querySelector('.empty');

			const tagsButton = this.querySelector('.expanding-filter-button');
			const tagsContainer = this.querySelector('.tags');
			const tags = Array.from(this.querySelectorAll('.pill'));
			this.#items = Array.from(this.querySelectorAll('.item'));
			this.#series = Array.from(this.querySelectorAll('.section[id]'));

			console.log(this.#series);

			tagsButton.addEventListener('click', () => {
				tagsButton.toggleAttribute('data-toggled');
				tagsContainer.toggleAttribute('hidden');
			});

			for (const tag of tags) {
				tag.addEventListener('click', (event) => {
					const tagID = event.target.dataset.tag;
					const selected = event.target.dataset.toggled === 'true';

					if (!selected) {
						event.target.dataset.toggled = true;
						this.addActiveTag(tagID);
					} else {
						event.target.dataset.toggled = false;
						this.removeActiveTag(tagID);
					}
				});
			}
		}

		addActiveTag(tag) {
			this.activeTags.push(tag);
			this.render();
		}

		removeActiveTag(tag) {
			const index = this.activeTags.indexOf(tag);

			if (index !== -1) {
				this.activeTags.splice(index, 1);
				this.render();
			}
		}

		set activeTags(tags) {
			this.#activeTags = tags;
			this.render();
		}

		get activeTags() {
			return this.#activeTags;
		}

		render() {
			for (const item of [...this.#items, ...this.#series]) {
				if (this.activeTags.length > 0) {
					const itemTags = item.dataset.tags
						? item.dataset.tags.split(', ')
						: [];
					// https://stackoverflow.com/questions/53606337/check-if-array-contains-all-elements-of-another-array
					const isActive = this.activeTags.every((tag) =>
						itemTags.includes(tag),
					);

					if (isActive) {
						item.removeAttribute('hidden');
					} else {
						item.setAttribute('hidden', '');
					}
				} else {
					item.removeAttribute('hidden');
				}
			}

			// show the empty message if there are no results
			const activeItems = this.#items.filter(
				(item) => !item.hasAttribute('hidden'),
			);
			if (activeItems.length === 0) {
				this.#emptyMessage.removeAttribute('hidden');
			} else {
				this.#emptyMessage.setAttribute('hidden', '');
			}
		}
	}

	customElements.define('jp-filter-and-sort', FilterAndSort);
</script>

<style>
	.headline,
	.wrapper {
		margin-inline: auto;
		padding-block-start: var(--space-xwide);
		padding-inline: var(--space-outside);
	}

	.headline {
		max-width: var(--content-width-wide);
		padding-block-end: var(--space-wide);
	}

	.wrapper {
		max-width: var(--content-width-xxwide);
		padding-block-end: var(--space-xwide);
	}

	jp-filter-and-sort {
		display: flex;
		flex-direction: column;
		gap: var(--space-medium);
	}

	.expanding-filter {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: var(--space-narrow);
	}

	.tags {
		align-items: start;
		background-color: var(--color-well);
		border-radius: var(--border-radius);
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xxnarrow);
		justify-content: start;
		list-style: none;
		margin: 0;
		padding: var(--space-medium);
	}

	.books {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: var(--space-xwide);
	}

	.section {
		width: 100%;
	}

	.section > :global(* + *) {
		padding-block-start: var(--space-wide);
	}

	.series-label {
		color: var(--color-secondary);
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: var(--space-narrow);
		transition: all 0.25s ease-in-out;
	}

	[hidden] {
		display: none !important;
	}
</style>
