---
// assets
import '@styles/base/reset.css';
import '@styles/base/type.css';
import '@styles/tokens/borders.css';
import '@styles/tokens/color.css';

// components
import MainFooter from '@components/navigation/MainFooter.astro';
import MainNav from '@components/navigation/MainNav.astro';

// types
import type {
	ColorRoles,
	CSSVariable,
	HexColor,
	HSLColor,
	Theme,
} from '@lib/types';

import type { SEOContent } from '@lib/types';

export interface Props {
	overlayNav?: boolean;
	pageTitle?: string;
	path?: string;
	seo?: SEOContent;
	theme?: Partial<Theme>;
}

export type ThemeTokens = Partial<Record<`color-${ColorRoles}`, HexColor | HSLColor | CSSVariable>>;

// props and data
const {
	pageTitle,
	path = 'home',
	seo = {},
	overlayNav = false,
	theme,
} = Astro.props as Props;

const SITE_TITLE = 'Jay Perry';
const title = pageTitle ? `${SITE_TITLE} | ${pageTitle}` : SITE_TITLE;
// const canonicalURL = `${import.meta.env.SITE.slice(0, -1)}${}`;

// if a theme has been passed in, replace the default color tokens with the theme values
function themeReducer(
	result: ThemeTokens,
	role: ColorRoles
): ThemeTokens {
	if (theme[role]) result[`color-${role}`] = theme[role];
	return result;
}

const themeTokens: ThemeTokens = theme
	? Object.keys(theme).reduce(themeReducer, {})
	: {};
---

<script>
	// Add data attributes to the body element to confirm JS, touch, etc. is available
	// -> used by the CSS for styling JS-dependent elements
	let featureData = ['js'];
	if ("ontouchstart" in document.body) featureData.push('touch');

	// Add a data attribute for each supported feature
	document.body.dataset['supports'] = featureData.join(' ');
</script>

<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		<title>{title}</title>

		<!-- favicon -->
		<link rel="icon" hDOMRef="/favicon.ico" sizes="any">
		<link rel="icon" hDOMRef="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" hDOMRef="/apple-touch-icon.png">
		<link rel="manifest" hDOMRef="/manifest.webmanifest">

		<!-- RSS metadata -->
		<link rel="alternate" type="application/rss+xml" title="Jay Perry" href="/rss/feed.xml">
		<link rel="alternate" type="application/rss+xml" title="Jay Perry: Blog posts" href="/rss/blog.xml">
		<link rel="alternate" type="application/rss+xml" title="Jay Perry: Pictures" href="/rss/pictures.xml">

		<!-- microdata/profile -->
		<link rel="author" href="/about/" title="My story">
		<link rel="me" href="mailto:hi@jayperryworks.com">

		<!-- social/seo markup -->
		<!-- hat tip to https://meiert.com/en/blog/minimal-social-markup/ -->
		<meta name="twitter:card" content={seo.image ? 'summary_large_image' : 'summary'}>
		<meta property="og:title" content={seo.title || title}>
		<meta property="og:site_name" content={SITE_TITLE}>
		<meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)}>
		<meta property="og:locale" content="en_US">
		<meta property="og:author" name="author" content="Jay Perry">
		{seo.description && (
			<meta property="og:description" name="description" content={seo.description}>
		)}
		{seo.image && (
			<meta property="og:image" content={seo.image}>
			<meta property="og:image:alt" content={seo.imageAlt}>
		)}
	</head>

	<body>
		<MainNav segment={path} overlay={overlayNav} />
		<main>
			<slot />
		</main>
		<MainFooter class="footer" />
	</body>
</html>

<!-- set the page theme as root custom properties to override the default tokens -->
<style define:vars={themeTokens} is:global></style>

<style>
	body {
		background-color: var(--color-bg);
		color: var(--color-primary);
		display: grid;
		grid-template-rows: auto 1fr auto;
		position: relative;

		/*
		 * several versions of 'full height of window' depending on context/support
		 * -> https://web.dev/viewport-units/
		 */
		min-height: 100vh;
		min-height: 100dvh;
	}
</style>
