---
title: home
---

<section class="panel">
    <h1 class="panel-slug">Work</h1>
    <ul class="gallery">
        <% blog("work").articles.each do |print| %>
        <li class="gallery-item" data-year="<%= print.date.strftime('%Y') %>">
            <a href="<%= print.url %>"><img src="<%= print.url + print.data.hero %>" /></a>
        </li>
        <% end %>
    </ul>
</section>

<section class="panel">
    <h1 class="panel-slug">Writing</h1>
    <ul class="feed">
        <% blog("writing").articles.each do |article| %>
        <li class="feed-item">
            <% link_to article.url do %>
                <img src="<%= article.url + article.data.image %>" alt="<%= article.title %>">
            <% end %>
            <h2><%= link_to article.title, article.url %></h2>
            <%= article.summary %>
            <%= link_to "Read more &rsaquo;", article.url %>
        </li>
        <% end %>
    </ul>
</section>

<section class="panel">
    <h1 class="panel-slug">Profile</h1>

</section>
