---
title: Home
---

<section class="panel">
    <h1>Work</h1>
    <ul class="l-grid">
        <% blog.articles.each do |print| %>
        <li class="l-grid-item" data-year="<%= print.date.strftime('%Y') %>">
            <a href="<%= print.url %>"><img src="<%= asset_url(media_dir + "/" + print.data.hero) %>" /></a>
            <h3><a href="<%= print.url %>"><%= print.title %></a></h3>
        </li>
        <% end %>
    </ul>
</section>
