---
title: home
---

<section class="panel">
    <h1 class="panel-slug">Work</h1>
    <div class="l-wrapper">
        <ul class="gallery center">
            <% blog("work").articles.each do |print| %>
            <li class="gallery-item" data-year="<%= print.date.strftime('%Y') %><% if print.data.tags.present? %>" data-tags="<% print.data.tags.each do |tag| %><%= tag %> <% end %>"<% end %>>
                <% link_to print, :class => "constrained" do %>
                    <%= image_tag print.url + print.data.cover, :alt => print.data.title %>
                <% end %>
            </li>
            <% end %>
        </ul>
    </div>
</section>

<% if blog("writing").articles.length > 0 %>
<section class="panel">
    <h1 class="panel-slug">Writing</h1>
    <ul class="feed">
        <% blog("writing").articles[0...5].each do |article| %>
        <li class="feed-item card horizontal l-wrapper narrow">
            <% link_to article, :class => "card-figure" do %>
                <%= image_tag article.url + article.data.image, :alt => article.title %>
            <% end %>
            <div class="card-content">
                <h2 class="card-title"><%= link_to article.title, article %></h2>
                <% if article.data.subtitle.present? %>
                <%= link_to article.data.subtitle, article, :class => "card-subtitle cappa" %>
                <% end %>
                <%= article.summary %>
                <%= link_to "Read more &rsaquo;", article, :class => "card-button" %>
            </div>
        </li>
        <% end %>
    </ul>
</section>
<% end %>
