---
title: Styleguide
layout: layout
---

<%= component 'main_header' %>
<article>
  <% component 'panel', locals: { borders: 'none', el: 'header' } do %>
    <% component 'wrapper' do %>
      <h1 class="t-align-center">Styleguide</h1>
    <% end %>
  <% end %>

  <!-- Spacing -->
  <% component 'styleguide_section', locals: {
    heading: 'Spacing'
  } do %>
    <ul class="gutter-wrapper list-undecorated">
      <% [
        'xxxnarrow',
        'xxnarrow',
        'xnarrow',
        'narrow',
        'medium',
        'wide',
        'xwide'
      ].each do |size| %>
        <li class="display-inline-block gutter">
          <div data-theme="reverse" class="display-inline-block padding-left<%= "-#{size}" unless size == 'medium' %> padding-top-xwide"></div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- Type -->
  <% component 'styleguide_section', locals: {
    heading: 'Type'
  } do %>
    <ul class="padding-y-between-narrow list-undecorated">
      <% (1...6).each do |level| %>
        <li>
          <p class="t-heading t-accent-bold t-scale-zeta t-caps c-text-tertiary">H<%= level %></p>
          <h<%= level %>>Lorem ipsum dolor sit</h<%= level %>>
        </li>
      <% end %>
      <li>
        <p class="t-heading t-accent-bold t-scale-zeta t-caps c-text-tertiary">Body text</p>
        <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Illum molestias a aliquam accusamus, <em>dolorum id ut repudiandae natus</em>, explicabo vel similique velit amet deserunt aut quam tempore minima expedita adipisci?</p>
      </li>
    </ul>
  <% end %>

  <!-- Buttons -->
  <% component 'styleguide_section', locals: {
    heading: 'Buttons',
    width: 'wide'
  } do %>
    <div class="margin-y-between">
      <% ['default', 'reverse'].each do | theme | %>
        <div data-theme="<%= theme %>" class="border padding-wide t-align-center">
          <ul class="list-undecorated gutter-wrapper gutter-wide">
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'xsmall'
              } do %>
                XSmall button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'small'
              } do %>
                Small button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#'
              } do %>
                Default button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'large'
              } do %>
                Large button
              <% end %>
            </li>
          </ul>
          <ul class="list-undecorated gutter-wrapper gutter-wide">
            <!-- Primary buttons -->
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'xsmall',
                role: 'primary'
              } do %>
                XSmall button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'small',
                role: 'primary'
              } do %>
                Small button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                role: 'primary'
              } do %>
                Default button
              <% end %>
            </li>
            <li class="gutter display-inline-block">
              <% component 'button_link', locals: {
                url: '#',
                size: 'large',
                role: 'primary'
              } do %>
                Large button
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Color -->
  <% component 'styleguide_section', locals: {
    heading: 'Color'
  } do %>
    <ul class="margin-y-between list-undecorated">
      <% ['default', 'reverse'].each do |theme| %>
        <li data-theme="<%= theme %>" class="border padding-wide">
          <p class="t-accent-bold t-scale-zeta t-caps c-text-tertiary padding-bottom-xnarrow"><%= theme.titleize %> theme</p>
          <h2 class="padding-bottom">Primary text lorem ipsum dolor sit</h2>
          <p>Secondary text lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quam obcaecati voluptates, accusamus modi ratione harum quidem illo corporis dicta deserunt provident, iusto quaerat unde sed architecto explicabo quasi est.</p>
          <p class="t-accent c-text-tertiary">Tertiary text</p>
          <div class="border-top margin-top padding-top">
            <% component 'button_link', locals: {
              url: '#'
            } do %>
              Default button
            <% end %>
          </div>
          <div class="c-well border margin-top padding">
            <p class="t-accent">I'm a well!</p>
          </div>
          <div class="c-island border margin-top padding">
            <p class="t-accent">I'm an island!</p>
          </div>
          <div class="se-shadow border margin-top padding">
            <p class="t-accent">I have a shadow!</p>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</article>
